source/domain/domain.sph/Schema/FormDesigner.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://tempuri.org/FormDesigner.xsd" xmlns:mstns="http://tempuri.org/FormDesigner.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://tempuri.org/TriggersWorkflow.xsd" targetNamespace="http://tempuri.org/FormDesigner.xsd" elementFormDefault="qualified" id="FormDesigner">
	<xs:element name="FormDesign">
		<xs:complexType>
			<xs:all>
				<xs:element name="FormElementCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FormElement" type="FormElement" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LabelColLg" type="xs:int" nillable="true"/>
				<xs:element name="LabelColMd" type="xs:int" nillable="true"/>
				<xs:element name="LabelColSm" type="xs:int" nillable="true"/>
				<xs:element name="LabelColXs" type="xs:int" nillable="true"/>
				<xs:element name="InputColLg" type="xs:int" nillable="true"/>
				<xs:element name="InputColMd" type="xs:int" nillable="true"/>
				<xs:element name="InputColSm" type="xs:int" nillable="true"/>
				<xs:element name="InputColXs" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="ConfirmationText" type="xs:string" use="required"/>
			<xs:attribute name="ImageStoreId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FormElement">
		<xs:all>
			<xs:element ref="FieldValidation"/>
			<xs:element name="LabelColLg" type="xs:int" nillable="true"/>
			<xs:element name="LabelColMd" type="xs:int" nillable="true"/>
			<xs:element name="LabelColSm" type="xs:int" nillable="true"/>
			<xs:element name="LabelColXs" type="xs:int" nillable="true"/>
			<xs:element name="InputColLg" type="xs:int" nillable="true"/>
			<xs:element name="InputColMd" type="xs:int" nillable="true"/>
			<xs:element name="InputColSm" type="xs:int" nillable="true"/>
			<xs:element name="InputColXs" type="xs:int" nillable="true"/>
		</xs:all>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Label" type="xs:string" use="required"/>
		<xs:attribute name="Tooltip" type="xs:string" use="optional"/>
		<xs:attribute name="Path" type="xs:string" use="required"/>
		<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
		<xs:attribute name="Size" type="xs:string" use="required"/>
		<xs:attribute name="CssClass" type="xs:string" use="required"/>
		<xs:attribute name="Visible" type="xs:string" use="optional" default="true"/>
		<xs:attribute name="Enable" type="xs:string" use="optional" default="true"/>
		<xs:attribute name="ElementId" type="xs:string" use="required"/>
		<xs:attribute name="HelpText" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="TextBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="MinLength" type="xs:int" nillable="true"/>
						<xs:element name="MaxLength" type="xs:int" nillable="true"/>
					</xs:all>
					<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionEntity" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionField" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionQuery" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatePicker">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateTimePicker">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="ComboBoxItemCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ComboBoxItem" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="ComboBoxLookup"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TextAreaElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Rows" type="xs:string" use="optional"/>
					<xs:attribute name="IsHtml" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebsiteFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberTextBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Step" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Icon" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SectionFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBoxItem">
		<xs:complexType>
			<xs:attribute name="Caption" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="IsUnitNoVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="IsFloorVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="IsBlockVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="BlockOptionsPath" type="xs:string" use="required"/>
					<xs:attribute name="FloorOptionsPath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HtmlElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="Text" type="xs:string"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultValue">
		<xs:complexType>
			<xs:all>
				<xs:element name="Value" type="xs:anySimpleType"/>
			</xs:all>
			<xs:attribute name="PropertyName" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldValidation">
		<xs:complexType>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
			<xs:attribute name="MaxLength" type="xs:int" use="required"/>
			<xs:attribute name="MinLength" type="xs:int" use="required"/>
			<xs:attribute name="Pattern" type="xs:string" use="required"/>
			<xs:attribute name="Mode" type="xs:string" use="required"/>
			<xs:attribute name="Message" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Performer">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BusinessRule">
		<xs:complexType>
			<xs:all>
				<xs:element name="RuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="ErrorLocation" type="xs:string" use="required"/>
			<xs:attribute name="ErrorMessage" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rule">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FileUploadElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="AllowedExtensions" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBoxLookup">
		<xs:complexType>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="ValuePath" type="xs:string" use="required"/>
			<xs:attribute name="DisplayPath" type="xs:string" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListView">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="ListViewColumnCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ListViewColumn" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="ChildItemType" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListViewColumn">
		<xs:complexType>
			<xs:all>
				<xs:element name="Input" type="FormElement"/>
			</xs:all>
			<xs:attribute name="Label" type="xs:string" use="required"/>
			<xs:attribute name="Path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Button">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Command" type="xs:string" use="required"/>
					<xs:attribute name="UseClick" type="xs:boolean" use="required"/>
					<xs:attribute name="CommandName" type="xs:string" use="required"/>
					<xs:attribute name="LoadingText" type="xs:string" use="optional"/>
					<xs:attribute name="CompleteText" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityDefinition">
		<xs:complexType>
			<xs:all>
				<xs:element name="MemberCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Member" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="EntityDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Plural" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="RecordName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Member">
		<xs:complexType>
			<xs:all>
				<xs:element name="MemberCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Member" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsAnalyzed" type="xs:boolean" use="required"/>
			<xs:attribute name="IsFilterable" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityForm">
		<xs:complexType>
			<xs:all>
				<xs:element ref="FormDesign"/>
			</xs:all>
			<xs:attribute name="EntityFormId" type="xs:int" use="required"/>
			<xs:attribute name="EntityDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsAllowedNewItem" type="xs:boolean" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityView">
		<xs:complexType>
			<xs:all>
				<xs:element name="FilterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Filter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ViewColumnCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ViewColumn" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="EntityViewId" type="xs:int" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="EntityDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
			<xs:attribute name="Visibilty" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Filter">
		<xs:complexType>
			<xs:attribute name="Term" type="xs:string" use="required"/>
			<xs:attribute name="Field" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewColumn">
		<xs:complexType>
			<xs:attribute name="Path" type="xs:string" use="required"/>
			<xs:attribute name="Header" type="xs:string" use="required"/>
			<xs:attribute name="Sort" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
