source/domain/domain.sph/Schema/FormDesigner.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://tempuri.org/FormDesigner.xsd" xmlns:mstns="http://tempuri.org/FormDesigner.xsd" xmlns:bspk="http://www.bespoke.com.my/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://tempuri.org/TriggersWorkflow.xsd" targetNamespace="http://tempuri.org/FormDesigner.xsd" elementFormDefault="qualified" id="FormDesigner">
	<xs:element name="FormDesign">
		<xs:complexType>
			<xs:all>
				<xs:element name="FormElementCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FormElement" type="FormElement" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LabelColLg" type="xs:int" nillable="true"/>
				<xs:element name="LabelColMd" type="xs:int" nillable="true"/>
				<xs:element name="LabelColSm" type="xs:int" nillable="true"/>
				<xs:element name="LabelColXs" type="xs:int" nillable="true"/>
				<xs:element name="InputColLg" type="xs:int" nillable="true"/>
				<xs:element name="InputColMd" type="xs:int" nillable="true"/>
				<xs:element name="InputColSm" type="xs:int" nillable="true"/>
				<xs:element name="InputColXs" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="ConfirmationText" type="xs:string" use="required"/>
			<xs:attribute name="ImageStoreId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FormElement">
		<xs:all>
			<xs:element ref="FieldValidation"/>
			<xs:element name="LabelColLg" type="xs:int" nillable="true"/>
			<xs:element name="LabelColMd" type="xs:int" nillable="true"/>
			<xs:element name="LabelColSm" type="xs:int" nillable="true"/>
			<xs:element name="LabelColXs" type="xs:int" nillable="true"/>
			<xs:element name="InputColLg" type="xs:int" nillable="true"/>
			<xs:element name="InputColMd" type="xs:int" nillable="true"/>
			<xs:element name="InputColSm" type="xs:int" nillable="true"/>
			<xs:element name="InputColXs" type="xs:int" nillable="true"/>
		</xs:all>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Label" type="xs:string" use="required"/>
		<xs:attribute name="Tooltip" type="xs:string" use="optional"/>
		<xs:attribute name="Path" type="xs:string" use="required"/>
		<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
		<xs:attribute name="Size" type="xs:string" use="required"/>
		<xs:attribute name="CssClass" type="xs:string" use="required"/>
		<xs:attribute name="Visible" type="xs:string" use="optional" default="true"/>
		<xs:attribute name="Enable" type="xs:string" use="optional" default="true"/>
		<xs:attribute name="ElementId" type="xs:string" use="required"/>
		<xs:attribute name="HelpText" type="xs:string" use="optional"/>
		<xs:attribute name="UseDisplayTemplate" type="xs:boolean" use="required"/>
		<xs:attribute name="ToolboxIconClass" type="xs:string" use="required"/>
		<xs:attribute name="IsUniqueName" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="TextBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionEntity" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionField" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionQuery" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatePicker">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateTimePicker">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="ComboBoxItemCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ComboBoxItem" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="ComboBoxLookup"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TextAreaElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Rows" type="xs:string" use="optional"/>
					<xs:attribute name="IsHtml" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebsiteFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberTextBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Step" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Icon" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SectionFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBoxItem">
		<xs:complexType>
			<xs:attribute name="Caption" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="IsUnitNoVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="IsFloorVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="IsBlockVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="BlockOptionsPath" type="xs:string" use="required"/>
					<xs:attribute name="FloorOptionsPath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HtmlElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="Text" type="xs:string"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultValue">
		<xs:complexType>
			<xs:all>
				<xs:element name="Value" type="xs:anySimpleType"/>
			</xs:all>
			<xs:attribute name="PropertyName" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldValidation">
		<xs:complexType>
			<xs:all>
				<xs:element name="Min" type="xs:float" nillable="true"/>
				<xs:element name="Max" type="xs:float" nillable="true"/>
				<xs:element name="MinLength" type="xs:int" nillable="true"/>
				<xs:element name="MaxLength" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
			<xs:attribute name="Pattern" type="xs:string" use="required"/>
			<xs:attribute name="Mode" type="xs:string" use="required"/>
			<xs:attribute name="Message" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Performer">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BusinessRule">
		<xs:complexType>
			<xs:all>
				<xs:element name="RuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FilterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="ErrorLocation" type="xs:string" use="required"/>
			<xs:attribute name="ErrorMessage" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rule">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FileUploadElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="AllowedExtensions" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBoxLookup">
		<xs:complexType>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="ValuePath" type="xs:string" use="required"/>
			<xs:attribute name="DisplayPath" type="xs:string" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
			<xs:attribute name="IsComputedQuery" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChildEntityListView">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="ViewColumnCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ViewColumn" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SortCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Sort" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ConditionalFormattingCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ConditionalFormatting" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="Entity" type="xs:string" use="required"/>
					<xs:attribute name="Query" type="xs:string" use="required"/>
					<xs:attribute name="IsAllowAddItem" type="xs:boolean" use="required"/>
					<xs:attribute name="NewItemFormRoute" type="xs:string" use="optional"/>
					<xs:attribute name="NewItemMappingSource" type="xs:string" use="optional"/>
					<xs:attribute name="NewItemMappingDestination" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListView">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="ListViewColumnCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ListViewColumn" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="ChildItemType" type="xs:string" use="required"/>
					<xs:attribute name="IsChildItemFunction" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListViewColumn">
		<xs:complexType>
			<xs:all>
				<xs:element name="Input" type="FormElement"/>
			</xs:all>
			<xs:attribute name="Label" type="xs:string" use="required"/>
			<xs:attribute name="Path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Button">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Command" type="xs:string" use="required"/>
					<xs:attribute name="UseClick" type="xs:boolean" use="required"/>
					<xs:attribute name="CommandName" type="xs:string" use="required"/>
					<xs:attribute name="LoadingText" type="xs:string" use="optional"/>
					<xs:attribute name="CompleteText" type="xs:string" use="optional"/>
					<xs:attribute name="IconClass" type="xs:string" use="optional"/>
					<xs:attribute name="IsToolbarItem" type="xs:boolean" use="optional"/>
					<xs:attribute name="Operation" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityDefinition" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="MemberCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Member" type="Member" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessRuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BusinessRule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StoreInDatabase" type="xs:boolean" nillable="true"/>
				<xs:element name="StoreInElasticsearch" type="xs:boolean" nillable="true"/>
				<xs:element ref="ServiceContract"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Plural" type="xs:string" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="RecordName" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="TreatDataAsSource" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValueObjectDefinition" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="MemberCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Member" type="Member" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessRuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BusinessRule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Member">
		<xs:all>
			<xs:element name="MemberCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Member" type="Member" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FieldPermissionCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="FieldPermission" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefaultValue" type="Field"/>
		</xs:all>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="AllowMultiple" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:element name="SimpleMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Member">
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
					<xs:attribute name="IsNotIndexed" type="xs:boolean" use="required"/>
					<xs:attribute name="IsAnalyzed" type="xs:boolean" use="required"/>
					<xs:attribute name="IsFilterable" type="xs:boolean" use="required"/>
					<xs:attribute name="IsExcludeInAll" type="xs:boolean" use="required"/>
					<xs:attribute name="Boost" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplexMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Member">
					<xs:attribute name="EmptyField" type="xs:string" use="optional"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValueObjectMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Member">
					<xs:attribute name="ValueObjectName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityForm" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element ref="FormDesign"/>
				<xs:element name="Rules">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RouteParameterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="RouteParameter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FormLayoutCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="FormLayout" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="EntityDefinitionId" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsAllowedNewItem" type="xs:boolean" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="IsDefault" type="xs:boolean" use="required"/>
			<xs:attribute name="IsWatchAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsEmailAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsPrintAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsAuditTrailAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsRemoveAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsImportAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsExportAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="Operation" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="Partial" type="xs:string" use="optional"/>
			<xs:attribute name="Caption" type="xs:string" use="optional"/>
			<xs:attribute name="Layout" type="xs:string" use="optional"/>
			<xs:attribute name="OperationSuccessMesage" type="xs:string" use="required"/>
			<xs:attribute name="OperationSuccessNavigateUrl" type="xs:string" use="required"/>
			<xs:attribute name="OperationSuccessCallback" type="xs:string" use="required"/>
			<xs:attribute name="OperationFailureCallback" type="xs:string" use="required"/>
			<xs:attribute name="OperationMethod" type="xs:string" use="required"/>
			<xs:attribute name="DeleteOperation" type="xs:string" use="optional"/>
			<xs:attribute name="DeleteOperationSuccessMesage" type="xs:string" use="required"/>
			<xs:attribute name="DeleteOperationSuccessNavigateUrl" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkflowForm" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element ref="FormDesign"/>
				<xs:element name="Rules">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="WorkflowDefinitionId" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsAllowedNewItem" type="xs:boolean" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="Operation" type="xs:string" use="required"/>
			<xs:attribute name="Variable" type="xs:string" use="required"/>
			<xs:attribute name="Partial" type="xs:string" use="optional"/>
			<xs:attribute name="Caption" type="xs:string" use="optional"/>
			<xs:attribute name="Layout" type="xs:string" use="optional"/>
			<xs:attribute name="OperationSuccessMesage" type="xs:string" use="required"/>
			<xs:attribute name="OperationSuccessNavigateUrl" type="xs:string" use="required"/>
			<xs:attribute name="OperationSuccessCallback" type="xs:string" use="required"/>
			<xs:attribute name="OperationFailureCallback" type="xs:string" use="required"/>
			<xs:attribute name="OperationMethod" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FormLayout">
		<xs:complexType>
			<xs:all>
				<xs:element name="Content" type="xs:string"/>
				<xs:element name="XsmallCol" type="xs:int" nillable="true"/>
				<xs:element name="MediumCol" type="xs:int" nillable="true"/>
				<xs:element name="SmallCol" type="xs:int" nillable="true"/>
				<xs:element name="LargeCol" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Position" type="xs:string" use="required"/>
			<xs:attribute name="IsForm" type="xs:boolean" use="required"/>
			<xs:attribute name="IsAuditTrail" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityView" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="ViewColumnCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ViewColumn" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ConditionalFormattingCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ConditionalFormatting" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Performer"/>
				<xs:element name="RouteParameterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="RouteParameter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="EntityDefinitionId" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="Visibilty" type="xs:string" use="required"/>
			<xs:attribute name="TileColour" type="xs:string" use="required"/>
			<xs:attribute name="CountMessage" type="xs:string" use="optional"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="Partial" type="xs:string" use="required"/>
			<xs:attribute name="Template" type="xs:string" use="optional"/>
			<xs:attribute name="DisplayOnDashboard" type="xs:boolean" use="required"/>
			<xs:attribute name="Endpoint" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Filter">
		<xs:complexType>
			<xs:all>
				<xs:element name="Field" type="Field">
					<xs:annotation>
						<xs:appinfo source="attr"> [JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:all>
			<xs:attribute name="Term" type="xs:string" use="required"/>
			<xs:attribute name="Operator" type="Operator" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewColumn">
		<xs:complexType>
			<xs:all>
				<xs:element name="ConditionalFormattingCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ConditionalFormatting" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Path" type="xs:string" use="required"/>
			<xs:attribute name="Header" type="xs:string" use="required"/>
			<xs:attribute name="Sort" type="xs:string" use="optional"/>
			<xs:attribute name="IsLinkColumn" type="xs:boolean" use="required"/>
			<xs:attribute name="FormRoute" type="xs:string" use="required"/>
			<xs:attribute name="IconCssClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="Format" type="xs:string" use="required"/>
			<xs:attribute name="RouteValueField" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Operator">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Eq"/>
			<xs:enumeration value="Gt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Field">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="Sort">
		<xs:complexType>
			<xs:attribute name="Path" type="xs:string" use="required"/>
			<xs:attribute name="Direction" type="SortDirection" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="SortDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Asc"/>
			<xs:enumeration value="Desc"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ImageElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="Width" type="xs:int" nillable="true"/>
						<xs:element name="Height" type="xs:int" nillable="true"/>
					</xs:all>
					<xs:attribute name="IsThumbnail" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DownloadLink">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="IsTransformTemplate" type="xs:boolean" use="required"/>
					<xs:attribute name="TemplateId" type="xs:int" use="required"/>
					<xs:attribute name="Entity" type="xs:string" use="required"/>
					<xs:attribute name="IconClass" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldPermission">
		<xs:complexType>
			<xs:attribute name="Role" type="xs:string" use="required"/>
			<xs:attribute name="IsHidden" type="xs:boolean" use="required"/>
			<xs:attribute name="IsReadOnly" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityPermission">
		<xs:complexType>
			<xs:attribute name="Role" type="xs:string" use="required"/>
			<xs:attribute name="IsHidden" type="xs:boolean" use="required"/>
			<xs:attribute name="IsReadOnly" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OperationEndpoint">
		<xs:complexType>
			<xs:all>
				<xs:element name="EntityPermissionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="EntityPermission" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Rules">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SetterActionChildCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="SetterActionChild" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PatchPathCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PatchSetter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Performer"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="optional"/>
			<xs:attribute name="IsHttpPut" type="xs:boolean" use="required"/>
			<xs:attribute name="IsHttpPatch" type="xs:boolean" use="required"/>
			<xs:attribute name="IsHttpPost" type="xs:boolean" use="required"/>
			<xs:attribute name="IsHttpDelete" type="xs:boolean" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="optional"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="Resource" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="IsConflictDetectionEnabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetterActionChild">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityChart" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="HistogramInterval" type="xs:int" nillable="true"/>
				<xs:element name="SeriesCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Series" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="EntityDefinitionId" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="EntityViewId" type="xs:string" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
			<xs:attribute name="Aggregate" type="xs:string" use="required"/>
			<xs:attribute name="Field" type="xs:string" use="required"/>
			<xs:attribute name="DateInterval" type="xs:string" use="required"/>
			<xs:attribute name="IsDashboardItem" type="xs:boolean" use="required"/>
			<xs:attribute name="DasboardItemPosition" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Series">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="Color" type="xs:string" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
			<xs:attribute name="Aggregate" type="xs:string" use="required"/>
			<xs:attribute name="Field" type="xs:string" use="required"/>
			<xs:attribute name="DateInterval" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="OwnerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="User"/>
			<xs:enumeration value="Everyone"/>
			<xs:enumeration value="Role"/>
			<xs:enumeration value="Designation"/>
			<xs:enumeration value="Department"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ConditionalFormatting">
		<xs:complexType>
			<xs:attribute name="CssClass" type="xs:string" use="required"/>
			<xs:attribute name="Condition" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityLookupElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="LookupColumnCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Column" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FilterCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Filter" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="Entity" type="xs:string" use="required"/>
					<xs:attribute name="DisplayMemberPath" type="xs:string" use="required"/>
					<xs:attribute name="ValueMemberPath" type="xs:string" use="required"/>
					<xs:attribute name="DisplayTemplate" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CurrencyElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Currency" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RouteParameter">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartialJs">
		<xs:complexType>
			<xs:attribute name="Path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewTemplate">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="optional"/>
			<xs:attribute name="ViewModelType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PatchSetter">
		<xs:complexType>
			<xs:attribute name="Path" type="xs:string" use="required"/>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
			<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FormDialog" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element ref="FormDesign"/>
				<xs:element name="DialogButtonCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DialogButton" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Rules">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="IsAllowCancel" type="xs:boolean" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="MemberPath" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DialogButton">
		<xs:complexType>
			<xs:attribute name="Text" type="xs:string" use="required"/>
			<xs:attribute name="IsDefault" type="xs:boolean" use="required"/>
			<xs:attribute name="IsCancel" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartialView" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element ref="FormDesign"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="MemberPath" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChildView">
		<xs:complexType>
			<xs:attribute name="PartialView" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TabControl">
		<xs:complexType>
			<xs:all>
				<xs:element name="TabPanelCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="TabPanel" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="PartialView" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TabPanel">
		<xs:complexType>
			<xs:attribute name="Header" type="xs:string" use="required"/>
			<xs:attribute name="PartialView" type="xs:string" use="required"/>
			<xs:attribute name="Path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryEndpoint" bspk:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="FilterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Filter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SortCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Sort" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Performer"/>
				<xs:element name="RouteParameterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="RouteParameter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MemberCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Member" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CacheFilter" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="CacheProfile" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="IsReturnSource" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="Resource" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceContract">
		<xs:complexType>
			<xs:all>
				<xs:element ref="FullSearchEndpoint"/>
				<xs:element ref="OdataEndpoint"/>
				<xs:element ref="EntityResourceEndpoint"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryEndpointSetting">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Performer"/>
				<xs:element name="CacheFilter" type="xs:int" nillable="true"/>
				<xs:element ref="CachingSetting"/>
			</xs:all>
			<xs:attribute name="CacheProfile" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="Resource" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityResourceEndpoint">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Performer"/>
			</xs:all>
			<xs:attribute name="IsAllowed" type="xs:boolean" use="required"/>
			<xs:attribute name="FilterExpression" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FullSearchEndpoint">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Performer"/>
			</xs:all>
			<xs:attribute name="IsAllowed" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OdataEndpoint">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Performer"/>
			</xs:all>
			<xs:attribute name="IsAllowed" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusinessRuleEndpoint">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Performer"/>
			</xs:all>
			<xs:attribute name="IsAllowed" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceContractSetting">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ResourceEndpointSetting"/>
				<xs:element ref="OdataEndpoint"/>
				<xs:element ref="SearchEndpointSetting"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResourceEndpointSetting">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CachingSetting"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchEndpointSetting">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CachingSetting"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="OdataEndpointSetting">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CachingSetting"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CachingSetting">
		<xs:complexType>
			<xs:all>
				<xs:element name="Expires" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="CacheControl" type="xs:string" use="required"/>
			<xs:attribute name="NoStore" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
