source/domain/domain.sph/Schema/FormDesigner.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://tempuri.org/FormDesigner.xsd" xmlns:mstns="http://tempuri.org/FormDesigner.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://tempuri.org/TriggersWorkflow.xsd" targetNamespace="http://tempuri.org/FormDesigner.xsd" elementFormDefault="qualified" id="FormDesigner">
	<xs:element name="FormDesign">
		<xs:complexType>
			<xs:all>
				<xs:element name="FormElementCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FormElement" type="FormElement" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LabelColLg" type="xs:int" nillable="true"/>
				<xs:element name="LabelColMd" type="xs:int" nillable="true"/>
				<xs:element name="LabelColSm" type="xs:int" nillable="true"/>
				<xs:element name="LabelColXs" type="xs:int" nillable="true"/>
				<xs:element name="InputColLg" type="xs:int" nillable="true"/>
				<xs:element name="InputColMd" type="xs:int" nillable="true"/>
				<xs:element name="InputColSm" type="xs:int" nillable="true"/>
				<xs:element name="InputColXs" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="ConfirmationText" type="xs:string" use="required"/>
			<xs:attribute name="ImageStoreId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FormElement">
		<xs:all>
			<xs:element ref="FieldValidation"/>
			<xs:element name="LabelColLg" type="xs:int" nillable="true"/>
			<xs:element name="LabelColMd" type="xs:int" nillable="true"/>
			<xs:element name="LabelColSm" type="xs:int" nillable="true"/>
			<xs:element name="LabelColXs" type="xs:int" nillable="true"/>
			<xs:element name="InputColLg" type="xs:int" nillable="true"/>
			<xs:element name="InputColMd" type="xs:int" nillable="true"/>
			<xs:element name="InputColSm" type="xs:int" nillable="true"/>
			<xs:element name="InputColXs" type="xs:int" nillable="true"/>
		</xs:all>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Label" type="xs:string" use="required"/>
		<xs:attribute name="Tooltip" type="xs:string" use="optional"/>
		<xs:attribute name="Path" type="xs:string" use="required"/>
		<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
		<xs:attribute name="Size" type="xs:string" use="required"/>
		<xs:attribute name="CssClass" type="xs:string" use="required"/>
		<xs:attribute name="Visible" type="xs:string" use="optional" default="true"/>
		<xs:attribute name="Enable" type="xs:string" use="optional" default="true"/>
		<xs:attribute name="ElementId" type="xs:string" use="required"/>
		<xs:attribute name="HelpText" type="xs:string" use="optional"/>
		<xs:attribute name="UseDisplayTemplate" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="TextBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="MinLength" type="xs:int" nillable="true"/>
						<xs:element name="MaxLength" type="xs:int" nillable="true"/>
					</xs:all>
					<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionEntity" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionField" type="xs:string" use="optional"/>
					<xs:attribute name="AutoCompletionQuery" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatePicker">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateTimePicker">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="ComboBoxItemCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ComboBoxItem" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="ComboBoxLookup"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TextAreaElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Rows" type="xs:string" use="optional"/>
					<xs:attribute name="IsHtml" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebsiteFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberTextBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Step" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Icon" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SectionFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBoxItem">
		<xs:complexType>
			<xs:attribute name="Caption" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="IsUnitNoVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="IsFloorVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="IsBlockVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="BlockOptionsPath" type="xs:string" use="required"/>
					<xs:attribute name="FloorOptionsPath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HtmlElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="Text" type="xs:string"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultValue">
		<xs:complexType>
			<xs:all>
				<xs:element name="Value" type="xs:anySimpleType"/>
			</xs:all>
			<xs:attribute name="PropertyName" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldValidation">
		<xs:complexType>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
			<xs:attribute name="MaxLength" type="xs:int" use="required"/>
			<xs:attribute name="MinLength" type="xs:int" use="required"/>
			<xs:attribute name="Pattern" type="xs:string" use="required"/>
			<xs:attribute name="Mode" type="xs:string" use="required"/>
			<xs:attribute name="Message" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Performer">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BusinessRule">
		<xs:complexType>
			<xs:all>
				<xs:element name="RuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="ErrorLocation" type="xs:string" use="required"/>
			<xs:attribute name="ErrorMessage" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rule">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FileUploadElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="AllowedExtensions" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBoxLookup">
		<xs:complexType>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="ValuePath" type="xs:string" use="required"/>
			<xs:attribute name="DisplayPath" type="xs:string" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListView">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="ListViewColumnCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ListViewColumn" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="ChildItemType" type="xs:string" use="required"/>
					<xs:attribute name="IsChildItemFunction" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListViewColumn">
		<xs:complexType>
			<xs:all>
				<xs:element name="Input" type="FormElement"/>
			</xs:all>
			<xs:attribute name="Label" type="xs:string" use="required"/>
			<xs:attribute name="Path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Button">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Command" type="xs:string" use="required"/>
					<xs:attribute name="UseClick" type="xs:boolean" use="required"/>
					<xs:attribute name="CommandName" type="xs:string" use="required"/>
					<xs:attribute name="LoadingText" type="xs:string" use="optional"/>
					<xs:attribute name="CompleteText" type="xs:string" use="optional"/>
					<xs:attribute name="IconClass" type="xs:string" use="optional"/>
					<xs:attribute name="IsToolbarItem" type="xs:boolean" use="optional"/>
					<xs:attribute name="Operation" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityDefinition">
		<xs:complexType>
			<xs:all>
				<xs:element name="MemberCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Member" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessRuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BusinessRule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EntityOperationCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="EntityOperation" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="EntityDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Plural" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="RecordName" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Member">
		<xs:complexType>
			<xs:all>
				<xs:element name="MemberCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Member" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FieldPermissionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="FieldPermission" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsNotIndexed" type="xs:boolean" use="required"/>
			<xs:attribute name="IsAnalyzed" type="xs:boolean" use="required"/>
			<xs:attribute name="IsFilterable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsExcludeInAll" type="xs:boolean" use="required"/>
			<xs:attribute name="Boost" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityForm">
		<xs:complexType>
			<xs:all>
				<xs:element ref="FormDesign"/>
				<xs:element name="Rules">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="EntityFormId" type="xs:int" use="required"/>
			<xs:attribute name="EntityDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsAllowedNewItem" type="xs:boolean" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="IsDefault" type="xs:boolean" use="required"/>
			<xs:attribute name="IsWatchAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsEmailAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsPrintAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsAuditTrailAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsRemoveAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsImportAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsExportAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="Operation" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityView">
		<xs:complexType>
			<xs:all>
				<xs:element name="FilterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Filter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ViewColumnCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ViewColumn" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SortCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Sort" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="EntityViewId" type="xs:int" use="required"/>
			<xs:attribute name="IconClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="EntityDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Route" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
			<xs:attribute name="Visibilty" type="xs:string" use="required"/>
			<xs:attribute name="TileColour" type="xs:string" use="required"/>
			<xs:attribute name="CountMessage" type="xs:string" use="optional"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Filter">
		<xs:complexType>
			<xs:all>
				<xs:element name="Field" type="Field">
					<xs:annotation>
						<xs:appinfo source="attr"> [JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:all>
			<xs:attribute name="Term" type="xs:string" use="required"/>
			<xs:attribute name="Operator" type="Operator" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewColumn">
		<xs:complexType>
			<xs:attribute name="Path" type="xs:string" use="required"/>
			<xs:attribute name="Header" type="xs:string" use="required"/>
			<xs:attribute name="Sort" type="xs:string" use="optional"/>
			<xs:attribute name="IsLinkColumn" type="xs:boolean" use="required"/>
			<xs:attribute name="FormRoute" type="xs:string" use="required"/>
			<xs:attribute name="IconCssClass" type="xs:string" use="required"/>
			<xs:attribute name="IconStoreId" type="xs:string" use="required"/>
			<xs:attribute name="Format" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Operator">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Eq"/>
			<xs:enumeration value="Gt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Field">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="Sort">
		<xs:complexType>
			<xs:attribute name="Path" type="xs:string" use="required"/>
			<xs:attribute name="Direction" type="SortDirection" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="SortDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Asc"/>
			<xs:enumeration value="Desc"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ImageElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="Width" type="xs:int" nillable="true"/>
						<xs:element name="Height" type="xs:int" nillable="true"/>
					</xs:all>
					<xs:attribute name="IsThumbnail" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DownloadLink">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="IsTransformTemplate" type="xs:boolean" use="required"/>
					<xs:attribute name="TemplateId" type="xs:int" use="required"/>
					<xs:attribute name="Entity" type="xs:string" use="required"/>
					<xs:attribute name="IconClass" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldPermission">
		<xs:complexType>
			<xs:attribute name="Role" type="xs:string" use="required"/>
			<xs:attribute name="IsHidden" type="xs:boolean" use="required"/>
			<xs:attribute name="IsReadOnly" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityPermission">
		<xs:complexType>
			<xs:attribute name="Role" type="xs:string" use="required"/>
			<xs:attribute name="IsHidden" type="xs:boolean" use="required"/>
			<xs:attribute name="IsReadOnly" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityOperation">
		<xs:complexType>
			<xs:all>
				<xs:element name="EntityPermissionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="EntityPermission" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Rules">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Permissions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Permission" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SetterActionChildCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="SetterActionChild" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="SuccessMessage" type="xs:string" use="required"/>
			<xs:attribute name="ShowSuccessMessage" type="xs:boolean" use="required"/>
			<xs:attribute name="NavigateSuccessUrl" type="xs:string" use="required"/>
			<xs:attribute name="SuccessCommand" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetterActionChild">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityChart">
		<xs:complexType>
			<xs:all>
				<xs:element name="HistogramInterval" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="EntityChartId" type="xs:int" use="required"/>
			<xs:attribute name="EntityDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="EntityViewId" type="xs:int" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
			<xs:attribute name="Aggregate" type="xs:string" use="required"/>
			<xs:attribute name="Field" type="xs:string" use="required"/>
			<xs:attribute name="DateInterval" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
