source/domain/domain.sph/Schema/FormDesigner.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://tempuri.org/FormDesigner.xsd" xmlns:mstns="http://tempuri.org/FormDesigner.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://tempuri.org/TriggersWorkflow.xsd" targetNamespace="http://tempuri.org/FormDesigner.xsd" elementFormDefault="qualified" id="FormDesigner">
	<xs:import namespace="http://tempuri.org/TriggersWorkflow.xsd" schemaLocation="D:\project\work\sph\source\domain\domain.sph\Schema\TriggersWorkflow.xsd"/>
	<xs:element name="CustomField">
		<xs:complexType>
			<xs:all>
				<xs:element name="MaxLength" type="xs:int" nillable="true"/>
				<xs:element name="MinLength" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="Order" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:string" use="required"/>
			<xs:attribute name="Listing" type="xs:string" use="optional"/>
			<xs:attribute name="Group" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplaintTemplate">
		<xs:complexType>
			<xs:all>
				<xs:element name="ComplaintCategoryCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ComplaintCategory" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CustomFieldCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomField" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="FormDesign"/>
				<xs:element name="CustomListDefinitionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomListDefinition" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessRuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BusinessRule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DefaultValueCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DefaultValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ComplaintTemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildingTemplate">
		<xs:complexType>
			<xs:all>
				<xs:element name="CustomFieldCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomField" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="FormDesign"/>
				<xs:element name="CustomListDefinitionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomListDefinition" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessRuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BusinessRule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DefaultValueCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DefaultValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="BuildingTemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="Icon" type="xs:string" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ApplicationTemplate">
		<xs:complexType>
			<xs:all>
				<xs:element name="CustomFieldCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomField" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="FormDesign"/>
				<xs:element name="CustomListDefinitionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomListDefinition" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessRuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BusinessRule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DefaultValueCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DefaultValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ApplicationTemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaintenanceTemplate">
		<xs:complexType>
			<xs:all>
				<xs:element name="CustomFieldCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomField" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="FormDesign"/>
				<xs:element name="CustomListDefinitionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomListDefinition" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessRuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BusinessRule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DefaultValueCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DefaultValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="MaintenanceTemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpaceTemplate">
		<xs:complexType>
			<xs:all>
				<xs:element name="CustomFieldCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomField" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="FormDesign"/>
				<xs:element name="CustomListDefinitionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomListDefinition" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DefaultValueCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DefaultValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessRuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BusinessRule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="SpaceTemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
			<xs:attribute name="DefaultMapIcon" type="xs:string" use="required"/>
			<xs:attribute name="DefaultSmallIcon" type="xs:string" use="required"/>
			<xs:attribute name="DefaultIcon" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FormDesign">
		<xs:complexType>
			<xs:all>
				<xs:element name="FormElementCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FormElement" type="FormElement" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="ConfirmationText" type="xs:string" use="required"/>
			<xs:attribute name="ImageStoreId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FormElement">
		<xs:all>
			<xs:element ref="FieldValidation"/>
		</xs:all>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Label" type="xs:string" use="required"/>
		<xs:attribute name="Tooltip" type="xs:string" use="optional"/>
		<xs:attribute name="Path" type="xs:string" use="required"/>
		<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
		<xs:attribute name="Size" type="xs:string" use="required"/>
		<xs:attribute name="CssClass" type="xs:string" use="required"/>
		<xs:attribute name="Visible" type="xs:string" use="optional" default="true"/>
		<xs:attribute name="Enable" type="xs:string" use="optional" default="true"/>
		<xs:attribute name="ElementId" type="xs:string" use="required"/>
		<xs:attribute name="HelpText" type="xs:string" use="optional"/>
		<xs:attribute name="LabelColumnSpan" type="xs:int" use="required"/>
		<xs:attribute name="InputColumnSpan" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:element name="TextBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="MinLength" type="xs:int" nillable="true"/>
						<xs:element name="MaxLength" type="xs:int" nillable="true"/>
					</xs:all>
					<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatePicker">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="ComboBoxItemCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ComboBoxItem" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TextAreaElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Rows" type="xs:string" use="optional"/>
					<xs:attribute name="IsHtml" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebsiteFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberTextBox">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Step" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildingMapElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="Icon" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildingBlocksElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildingFloorsElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SectionFormElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComboBoxItem">
		<xs:complexType>
			<xs:attribute name="Caption" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="IsUnitNoVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="IsFloorVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="IsBlockVisible" type="xs:boolean" use="required"/>
					<xs:attribute name="BlockOptionsPath" type="xs:string" use="required"/>
					<xs:attribute name="FloorOptionsPath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplaintCategoryElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:attribute name="SubCategoryLabel" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentalApplicationBanksElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentalApplicationAttachmentsElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentalApplicationContactElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpaceUnitElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HtmlElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="Text" type="xs:string"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildingElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplaintCategory">
		<xs:complexType>
			<xs:all>
				<xs:element name="SubCategoryCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="subCategory" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomListDefinition">
		<xs:complexType>
			<xs:all>
				<xs:element name="CustomFieldCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomField" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string"/>
			<xs:attribute name="Label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomListDefinitionElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement">
					<xs:all>
						<xs:element name="CustomFieldCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="CustomField" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaintenanceOfficerElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultValue">
		<xs:complexType>
			<xs:all>
				<xs:element name="Value" type="xs:anySimpleType"/>
			</xs:all>
			<xs:attribute name="PropertyName" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpaceFeaturesElement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FormElement"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldValidation">
		<xs:complexType>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
			<xs:attribute name="MaxLength" type="xs:int" use="required"/>
			<xs:attribute name="MinLength" type="xs:int" use="required"/>
			<xs:attribute name="Pattern" type="xs:string" use="required"/>
			<xs:attribute name="Mode" type="xs:string" use="required"/>
			<xs:attribute name="Message" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusinessRule">
		<xs:complexType>
			<xs:all>
				<xs:element name="RuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:Rule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="ErrorLocation" type="xs:string" use="required"/>
			<xs:attribute name="ErrorMessage" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
