source/domain/domain.sph/Schema/ReportBuilder.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://tempuri.org/ReportManagerSchema.xsd" xmlns:mstns="http://tempuri.org/ReportManagerSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/ReportManagerSchema.xsd" elementFormDefault="qualified" id="ReportManagerSchema">
	<xs:element name="ReportDefinition">
		<xs:complexType>
			<xs:all>
				<xs:element name="ReportLayoutCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ReportLayout" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="DataSource"/>
			</xs:all>
			<xs:attribute name="ReportDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="IsPrivate" type="xs:boolean" use="required"/>
			<xs:attribute name="IsExportAllowed" type="xs:boolean" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportLayout">
		<xs:complexType>
			<xs:all>
				<xs:element name="ReportItemCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReportItem" type="ReportItem" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Row" type="xs:int" use="required"/>
			<xs:attribute name="Column" type="xs:int" use="required"/>
			<xs:attribute name="ColumnSpan" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ReportItem">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="CssClass" type="xs:string" use="required"/>
		<xs:attribute name="Visible" type="xs:string" use="required"/>
		<xs:attribute name="Tooltip" type="xs:string" use="optional"/>
		<xs:attribute name="Icon" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="BarChartItem">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ReportItem">
					<xs:all>
						<xs:element name="ChartSeriesCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ChartSeries" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="ValueLabelFormat" type="xs:string" use="optional"/>
					<xs:attribute name="HorizontalAxisField" type="xs:string" use="required"/>
					<xs:attribute name="Title" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineChartItem">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ReportItem">
					<xs:all>
						<xs:element name="ChartSeriesCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ChartSeries" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="ValueLabelFormat" type="xs:string" use="optional"/>
					<xs:attribute name="HorizontalAxisField" type="xs:string" use="required"/>
					<xs:attribute name="Title" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PieChartItem">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ReportItem">
					<xs:attribute name="CategoryField" type="xs:string" use="required"/>
					<xs:attribute name="ValueField" type="xs:string" use="required"/>
					<xs:attribute name="Title" type="xs:string" use="required"/>
					<xs:attribute name="TitlePlacement" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataGridItem">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ReportItem">
					<xs:all>
						<xs:element name="ReportRowCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ReportRow" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DataGridColumnCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="DataGridColumn" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DataGridGroupDefinitionCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="DataGridGroupDefinition" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LabelItem">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ReportItem">
					<xs:all>
						<xs:element name="Html" type="xs:string"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineItem">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ReportItem"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataSource">
		<xs:complexType>
			<xs:all>
				<xs:element name="ParameterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Parameter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReportFilterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ReportFilter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EntityFieldCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="EntityField" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="EntityName" type="xs:string" use="required"/>
			<xs:attribute name="Query" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Parameter">
		<xs:complexType>
			<xs:all>
				<xs:element name="Value" type="xs:anySimpleType"/>
				<xs:element name="DefaultValue" type="xs:anySimpleType"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="AvailableValues" type="xs:string" use="required"/>
			<xs:attribute name="Label" type="xs:string" use="optional"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportFilter">
		<xs:complexType>
			<xs:attribute name="FieldName" type="xs:string" use="required"/>
			<xs:attribute name="Operator" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityField">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
			<xs:attribute name="Aggregate" type="xs:string" use="required"/>
			<xs:attribute name="Order" type="xs:string" use="required"/>
			<xs:attribute name="OrderPosition" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataGridColumn">
		<xs:complexType>
			<xs:attribute name="Header" type="xs:string" use="required"/>
			<xs:attribute name="Width" type="xs:string" use="required"/>
			<xs:attribute name="Expression" type="xs:string" use="required"/>
			<xs:attribute name="Format" type="xs:string" use="required"/>
			<xs:attribute name="Action" type="xs:string" use="required"/>
			<xs:attribute name="FooterExpression" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportColumn">
		<xs:complexType>
			<xs:all>
				<xs:element name="Value" type="xs:anySimpleType"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Header" type="xs:string" use="required"/>
			<xs:attribute name="Width" type="xs:string" use="required"/>
			<xs:attribute name="IsSelected" type="xs:boolean" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsFilterable" type="xs:boolean" use="required"/>
			<xs:attribute name="IsCustomField" type="xs:boolean" use="required"/>
			<xs:attribute name="IsNullable" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportRow">
		<xs:complexType>
			<xs:all>
				<xs:element name="ReportColumnCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ReportColumn" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="IntervalSchedule">
		<xs:all>
			<xs:element name="Expire" type="xs:dateTime" nillable="true"/>
			<xs:element name="Delay" type="xs:int" nillable="true"/>
			<xs:element name="Repeat" type="xs:int" nillable="true"/>
			<xs:element name="Duration" type="xs:int" nillable="true"/>
		</xs:all>
		<xs:attribute name="IsEnabled" type="xs:boolean" use="required"/>
		<xs:attribute name="Start" type="xs:dateTime" use="required"/>
	</xs:complexType>
	<xs:element name="DailySchedule">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="IntervalSchedule">
					<xs:attribute name="Recur" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WeeklySchedule">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="IntervalSchedule">
					<xs:attribute name="Hour" type="xs:int" use="required"/>
					<xs:attribute name="Minute" type="xs:int" use="required"/>
					<xs:attribute name="IsSunday" type="xs:boolean" use="required"/>
					<xs:attribute name="IsMonday" type="xs:boolean" use="required"/>
					<xs:attribute name="IsTuesday" type="xs:boolean" use="required"/>
					<xs:attribute name="IsWednesday" type="xs:boolean" use="required"/>
					<xs:attribute name="IsThursday" type="xs:boolean" use="required"/>
					<xs:attribute name="IsFriday" type="xs:boolean" use="required"/>
					<xs:attribute name="IsSaturday" type="xs:boolean" use="required"/>
					<xs:attribute name="Recur" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MonthlySchedule">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="IntervalSchedule">
					<xs:all>
						<xs:element name="Days">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Day" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="Day" type="xs:int" use="required"/>
					<xs:attribute name="Hour" type="xs:int" use="required"/>
					<xs:attribute name="Minute" type="xs:int" use="required"/>
					<xs:attribute name="IsJanuary" type="xs:boolean" use="required"/>
					<xs:attribute name="IsFebruary" type="xs:boolean" use="required"/>
					<xs:attribute name="IsMarch" type="xs:boolean" use="required"/>
					<xs:attribute name="IsApril" type="xs:boolean" use="required"/>
					<xs:attribute name="IsMay" type="xs:boolean" use="required"/>
					<xs:attribute name="IsJune" type="xs:boolean" use="required"/>
					<xs:attribute name="IsJuly" type="xs:boolean" use="required"/>
					<xs:attribute name="IsAugust" type="xs:boolean" use="required"/>
					<xs:attribute name="IsSeptember" type="xs:boolean" use="required"/>
					<xs:attribute name="IsOctober" type="xs:boolean" use="required"/>
					<xs:attribute name="IsNovember" type="xs:boolean" use="required"/>
					<xs:attribute name="IsDecember" type="xs:boolean" use="required"/>
					<xs:attribute name="IsLastDay" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportDelivery">
		<xs:complexType>
			<xs:all>
				<xs:element name="IntervalScheduleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IntervalSchedule" type="IntervalSchedule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Users">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="User" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Departments">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Department" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ReportDeliveryId" type="xs:int" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="ReportDefinitionId" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportContent">
		<xs:complexType>
			<xs:all>
				<xs:element name="HtmlOutput" type="xs:string"/>
			</xs:all>
			<xs:attribute name="ReportContentId" type="xs:int" use="required"/>
			<xs:attribute name="ReportDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="ReportDeliveryId" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChartSeries">
		<xs:complexType>
			<xs:attribute name="Header" type="xs:string" use="required"/>
			<xs:attribute name="Column" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataGridGroupDefinition">
		<xs:complexType>
			<xs:attribute name="Column" type="xs:string" use="required"/>
			<xs:attribute name="Expression" type="xs:string" use="required"/>
			<xs:attribute name="Style" type="xs:string" use="required"/>
			<xs:attribute name="FooterExpression" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataGridGroup">
		<xs:complexType>
			<xs:all>
				<xs:element name="ReportRowCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ReportRow" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DataGridGroupCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DataGridGroup" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Column" type="xs:string" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
