source/domain/domain.sph/Schema/TriggersWorkflow.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://tempuri.org/TriggersWorkflow.xsd" xmlns:mstns="http://tempuri.org/TriggersWorkflow.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://tempuri.org/ReportManagerSchema.xsd" xmlns:bs="http://www.bespoke.com.my/" xmlns:ns2="http://tempuri.org/FormDesigner.xsd" targetNamespace="http://tempuri.org/TriggersWorkflow.xsd" elementFormDefault="qualified" id="TriggersWorkflow">
	<xs:element name="Trigger" bs:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="RuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ActionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Action" type="CustomAction" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo source="attr"> [JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReferencedAssemblyCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ReferencedAssembly" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RequeueFilterCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ExceptionFilter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="TypeOf" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="IsFiredOnAdded" type="xs:boolean" use="required"/>
			<xs:attribute name="IsFiredOnDeleted" type="xs:boolean" use="required"/>
			<xs:attribute name="IsFiredOnChanged" type="xs:boolean" use="required"/>
			<xs:attribute name="FiredOnOperations" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Field">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Note" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="AssemblyField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:all>
						<xs:element name="MethodArgCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="MethodArg" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="Location" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="Method" type="xs:string" use="required"/>
					<xs:attribute name="IsAsync" type="xs:boolean" use="required"/>
					<xs:attribute name="AsyncTimeout" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="JavascriptExpressionField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="Expression" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunctionField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="Script" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConstantField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="XPath" type="xs:string" use="optional"/>
					<xs:attribute name="NamespacePrefix" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="Path" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PropertyChangedField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="Path" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="OldValue" type="xs:string" use="required"/>
					<xs:attribute name="NewValue" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="FieldType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DocumentField"/>
			<xs:enumeration value="ConstantField"/>
			<xs:enumeration value="FunctionField"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Rule">
		<xs:complexType>
			<xs:all>
				<xs:element name="Left" type="Field">
					<xs:annotation>
						<xs:appinfo source="attr"> [JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="Right" type="Field">
					<xs:annotation>
						<xs:appinfo source="attr">[JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="Operator" type="Operator">
					<xs:annotation>
						<xs:appinfo source="attr">[JsonConverter(typeof(StringEnumConverter))]</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Operator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Eq"/>
			<xs:enumeration value="Lt"/>
			<xs:enumeration value="Le"/>
			<xs:enumeration value="Gt"/>
			<xs:enumeration value="Ge"/>
			<xs:enumeration value="Substringof"/>
			<xs:enumeration value="StartsWith"/>
			<xs:enumeration value="EndsWith"/>
			<xs:enumeration value="NotContains"/>
			<xs:enumeration value="Neq"/>
			<xs:enumeration value="NotStartsWith"/>
			<xs:enumeration value="NotEndsWith"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CustomAction">
		<xs:attribute name="Title" type="xs:string" use="required"/>
		<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
		<xs:attribute name="TriggerId" type="xs:string" use="required"/>
		<xs:attribute name="Note" type="xs:string" use="required"/>
		<xs:attribute name="CustomActionId" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:element name="EmailAction">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CustomAction">
					<xs:attribute name="From" type="xs:string" use="required"/>
					<xs:attribute name="To" type="xs:string" use="required"/>
					<xs:attribute name="SubjectTemplate" type="xs:string" use="required"/>
					<xs:attribute name="BodyTemplate" type="xs:string" use="required"/>
					<xs:attribute name="Bcc" type="xs:string" use="required"/>
					<xs:attribute name="Cc" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetterAction">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CustomAction">
					<xs:all>
						<xs:element name="SetterActionChildCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="SetterActionChild" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetterActionChild">
		<xs:complexType>
			<xs:all>
				<xs:element name="Field" type="Field">
					<xs:annotation>
						<xs:appinfo source="attr"> [JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:all>
			<xs:attribute name="Path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MethodArg">
		<xs:complexType>
			<xs:all>
				<xs:element name="ValueProvider" type="Field"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="StartWorkflowAction">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CustomAction">
					<xs:all>
						<xs:element name="WorkflowTriggerMapCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="WorkflowTriggerMap" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="WorkflowDefinitionId" type="xs:string" use="required"/>
					<xs:attribute name="Name" type="xs:string" use="required"/>
					<xs:attribute name="Version" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkflowTriggerMap">
		<xs:complexType>
			<xs:all>
				<xs:element name="Field" type="Field"/>
			</xs:all>
			<xs:attribute name="VariablePath" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssemblyAction">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CustomAction">
					<xs:all>
						<xs:element name="MethodArgCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="MethodArg" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="IsAsyncMethod" type="xs:boolean" use="required"/>
					<xs:attribute name="Assembly" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="Method" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkflowDefinition" bs:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="ActivityCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Activity" type="Activity" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VariableDefinitionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Variable" type="Variable" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReferencedAssemblyCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ReferencedAssembly" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CorrelationSetCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CorrelationSet" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CorrelationTypeCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CorrelationType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TryScopeCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="TryScope" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="SchemaStoreId" type="xs:string" use="required"/>
			<xs:attribute name="Version" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Activity">
		<xs:all>
			<xs:element ref="WorkflowDesigner"/>
		</xs:all>
		<xs:attribute name="IsInitiator" type="xs:boolean" use="required"/>
		<xs:attribute name="NextActivityWebId" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="TryScope" type="xs:string" use="optional"/>
		<xs:attribute name="CatchScope" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="Workflow" bs:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="VariableValueCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="VariableValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="WorkflowDefinitionId" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="State" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="Version" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScreenActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element ref="FormDesign"/>
						<xs:element ref="Performer"/>
						<xs:element ref="ConfirmationOptions"/>
					</xs:all>
					<xs:attribute name="Title" type="xs:string" use="required"/>
					<xs:attribute name="ViewVirtualPath" type="xs:string" use="required"/>
					<xs:attribute name="WorkflowDefinitionId" type="xs:int" use="required"/>
					<xs:attribute name="CancelMessageSubject" type="xs:string" use="required"/>
					<xs:attribute name="InvitationMessageSubject" type="xs:string" use="required"/>
					<xs:attribute name="CancelMessageBody" type="xs:string" use="required"/>
					<xs:attribute name="InvitationMessageBody" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DecisionActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="DecisionBranchCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="DecisionBranch" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DecisionBranch">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="Expression" type="xs:string"/>
					</xs:all>
					<xs:attribute name="IsDefault" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NotificationActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:attribute name="From" type="xs:string" use="required"/>
					<xs:attribute name="Subject" type="xs:string" use="required"/>
					<xs:attribute name="Body" type="xs:string" use="required"/>
					<xs:attribute name="To" type="xs:string" use="required"/>
					<xs:attribute name="UserName" type="xs:string" use="required"/>
					<xs:attribute name="Cc" type="xs:string" use="optional"/>
					<xs:attribute name="Bcc" type="xs:string" use="optional"/>
					<xs:attribute name="IsHtmlEmail" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Variable">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="TypeName" type="xs:string" use="required"/>
		<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="SimpleVariable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Variable"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplexVariable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Variable"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomElementVariable" type="Variable"/>
	<xs:element name="FormDesign">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VariableValue">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Page" bs:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="Code" type="xs:string"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="IsRazor" type="xs:boolean" use="required"/>
			<xs:attribute name="IsPartial" type="xs:boolean" use="required"/>
			<xs:attribute name="VirtualPath" type="xs:string" use="required"/>
			<xs:attribute name="Tag" type="xs:string" use="required"/>
			<xs:attribute name="Version" type="xs:int" use="required"/>
			<xs:attribute name="Mode" type="xs:string" use="required"/>
			<xs:attribute name="Extension" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EndActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:attribute name="IsTerminating" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Performer">
		<xs:complexType>
			<xs:attribute name="UserProperty" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
			<xs:attribute name="IsPublic" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkflowDesigner">
		<xs:complexType>
			<xs:attribute name="X" type="xs:int"/>
			<xs:attribute name="Y" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PropertyMapping">
		<xs:attribute name="Source" type="xs:string" use="required"/>
		<xs:attribute name="Destination" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="SimpleMapping">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="PropertyMapping"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunctoidMapping">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="PropertyMapping">
					<xs:all>
						<xs:element name="Functoid" type="Functoid"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateEntityActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="PropertyMappingCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PropertyMapping" type="PropertyMapping" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="EntityType" type="xs:string" use="required"/>
					<xs:attribute name="ReturnValuePath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExpressionActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="Expression" type="xs:string"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteEntityActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:attribute name="EntityType" type="xs:string" use="required"/>
					<xs:attribute name="EntityIdPath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateEntityActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="PropertyMappingCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PropertyMapping" type="PropertyMapping" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="EntityType" type="xs:string" use="required"/>
					<xs:attribute name="EntityIdPath" type="xs:string" use="required"/>
					<xs:attribute name="UseVariable" type="xs:string" use="required"/>
					<xs:attribute name="IsUsingVariable" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Functoid">
		<xs:all>
			<xs:element name="ArgumentCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="FunctoidArg" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="OutputTypeName" type="xs:string" use="required"/>
		<xs:attribute name="Label" type="xs:string" use="required"/>
		<xs:attribute name="Comment" type="xs:string" use="required"/>
		<xs:attribute name="X" type="xs:double" use="required"/>
		<xs:attribute name="Y" type="xs:double" use="required"/>
	</xs:complexType>
	<xs:element name="ScriptFunctoid">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:attribute name="Expression" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConfirmationOptions">
		<xs:complexType>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReceiveActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="InitializingCorrelationSetCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CorrelationSet" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FollowingCorrelationSetCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CorrelationSet" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CorrelationPropertyCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="CorrelationProperty" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="PortType" type="xs:string" use="required"/>
					<xs:attribute name="Operation" type="xs:string" use="required"/>
					<xs:attribute name="MessagePath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="ExceptionFilterCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ExceptionFilter" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="InitializingCorrelationSetCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CorrelationSet" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FollowingCorrelationSetCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CorrelationSet" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="PortType" type="xs:string" use="required"/>
					<xs:attribute name="Adapter" type="xs:string" use="required"/>
					<xs:attribute name="Method" type="xs:string" use="required"/>
					<xs:attribute name="AdapterAssembly" type="xs:string" use="required"/>
					<xs:attribute name="IsSynchronous" type="xs:boolean" use="required"/>
					<xs:attribute name="ArgumentPath" type="xs:string" use="required"/>
					<xs:attribute name="ReturnValuePath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListenActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="ListenBranchCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ListenBranch" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParallelActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="ParallelBranchCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ParallelBranch" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="JoinActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:attribute name="Placeholder" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelayActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="Miliseconds" type="xs:long"/>
						<xs:element name="Seconds" type="xs:int"/>
						<xs:element name="Hour" type="xs:int"/>
						<xs:element name="Days" type="xs:int"/>
					</xs:all>
					<xs:attribute name="Expression" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ThrowActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:attribute name="Message" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParallelBranch">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="ActivityCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Activity" type="Activity" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListenBranch">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:attribute name="IsWaitingAsync" type="xs:boolean" use="required"/>
					<xs:attribute name="IsDestroyed" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClrTypeVariable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Variable">
					<xs:attribute name="Assembly" type="xs:string" use="required"/>
					<xs:attribute name="CanInitiateWithDefaultConstructor" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScheduledTriggerActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="IntervalScheduleCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="IntervalSchedule" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IntervalSchedule">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Tracker" bs:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="ForbiddenActivities">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="WebId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExecutedActivityCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ExecutedActivity" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="WorkflowId" type="xs:string" use="required"/>
			<xs:attribute name="WorkflowDefinitionId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExecutedActivity">
		<xs:complexType>
			<xs:all>
				<xs:element name="Initiated" type="xs:dateTime" nillable="true"/>
				<xs:element name="Run" type="xs:dateTime" nillable="true"/>
			</xs:all>
			<xs:attribute name="InstanceId" type="xs:string" use="required"/>
			<xs:attribute name="ActivityWebId" type="xs:string" use="required"/>
			<xs:attribute name="WorkflowDefinitionId" type="xs:string" use="required"/>
			<xs:attribute name="User" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Breakpoint">
		<xs:complexType>
			<xs:attribute name="IsEnabled" type="xs:boolean" use="required"/>
			<xs:attribute name="ActivityWebId" type="xs:string" use="required"/>
			<xs:attribute name="WorkflowDefinitionId" type="xs:string" use="required"/>
			<xs:attribute name="ConditionExpression" type="xs:string" use="optional"/>
			<xs:attribute name="HitCount" type="xs:int" use="required"/>
			<xs:attribute name="Label" type="xs:string" use="optional"/>
			<xs:attribute name="WhenHitPrintMessage" type="xs:boolean" use="required"/>
			<xs:attribute name="WhenHitContinueExecution" type="xs:boolean" use="required"/>
			<xs:attribute name="MessageExpression" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReferencedAssembly">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="FullName" type="xs:string" use="required"/>
			<xs:attribute name="Version" type="xs:string" use="required"/>
			<xs:attribute name="Location" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MappingActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="MappingSourceCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="MappingSource" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="MappingDefinition" type="xs:string" use="required"/>
					<xs:attribute name="DestinationType" type="xs:string" use="required"/>
					<xs:attribute name="OutputPath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MappingSource">
		<xs:complexType>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="Variable" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransformDefinition" bs:entity="true">
		<xs:complexType>
			<xs:all>
				<xs:element name="MapCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Map" type="Map" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FunctoidCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Functoid" type="Functoid" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="TransformDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="InputTypeName" type="xs:string" use="required"/>
			<xs:attribute name="OutputTypeName" type="xs:string" use="required"/>
			<xs:attribute name="IsPublished" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Map">
		<xs:attribute name="Destination" type="xs:string" use="required"/>
		<xs:attribute name="SourceTypeName" type="xs:string" use="required"/>
		<xs:attribute name="DestinationTypeName" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="DirectMap">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Map">
					<xs:attribute name="Source" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunctoidMap">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Map">
					<xs:attribute name="__uuid" type="xs:string" use="required"/>
					<xs:attribute name="Functoid" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="StringConcateFunctoid">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParseBooleanFunctoid">
		<xs:annotation>
			<xs:documentation>Convert string to bool</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:attribute name="Format" type="xs:string" use="required"/>
					<xs:attribute name="SourceField" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParseDoubleFunctoid">
		<xs:annotation>
			<xs:documentation>Convert string to double</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:attribute name="Styles" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParseDecimalFunctoid">
		<xs:annotation>
			<xs:documentation>Convert string to decimal</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:attribute name="Styles" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParseInt32Functoid">
		<xs:annotation>
			<xs:documentation>Convert string to int 32</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:attribute name="Styles" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParseDateTimeFunctoid">
		<xs:annotation>
			<xs:documentation>Convert string to date</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:attribute name="Format" type="xs:string" use="optional"/>
					<xs:attribute name="Styles" type="xs:string" use="optional"/>
					<xs:attribute name="Culture" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FormattingFunctoid">
		<xs:annotation>
			<xs:documentation>User string.format to format any object to string</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:attribute name="Format" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunctoidArg">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Label" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
			<xs:attribute name="IsOptional" type="xs:boolean" use="required"/>
			<xs:attribute name="Functoid" type="xs:string" use="required"/>
			<xs:attribute name="Constant" type="xs:string" use="optional"/>
			<xs:attribute name="Default" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConstantFunctoid">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:all>
						<xs:element name="Value" type="xs:anySimpleType"/>
					</xs:all>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceFunctoid">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Functoid">
					<xs:attribute name="Field" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExceptionFilter">
		<xs:complexType>
			<xs:all>
				<xs:element name="Interval" type="xs:int" nillable="true"/>
				<xs:element name="IntervalPeriod" type="xs:string"/>
				<xs:element name="MaxRequeue" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
			<xs:attribute name="Filter" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CorrelationType">
		<xs:complexType>
			<xs:all>
				<xs:element name="CorrelationPropertyCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CorrelationProperty" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CorrelationSet">
		<xs:complexType>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CorrelationProperty">
		<xs:complexType>
			<xs:attribute name="Path" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
			<xs:attribute name="Origin" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChildWorkflowActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element name="VariableMapCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Variable" type="Variable" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="WorkflowDefinitionId" type="xs:string" use="required"/>
					<xs:attribute name="Version" type="xs:int" use="required"/>
					<xs:attribute name="IsAsync" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Scope">
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="TryScope">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Scope">
					<xs:all>
						<xs:element name="CatchScopeCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="CatchScope" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CatchScope">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Scope">
					<xs:attribute name="ExceptionType" type="xs:string" use="required"/>
					<xs:attribute name="ExceptionVar" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
