source/domain/domain.sph/Schema/TriggersWorkflow.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://tempuri.org/TriggersWorkflow.xsd" xmlns:mstns="http://tempuri.org/TriggersWorkflow.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://tempuri.org/ReportManagerSchema.xsd" xmlns:ns2="http://tempuri.org/FormDesigner.xsd" targetNamespace="http://tempuri.org/TriggersWorkflow.xsd" elementFormDefault="qualified" id="TriggersWorkflow">
	<xs:element name="Trigger">
		<xs:complexType>
			<xs:all>
				<xs:element name="RuleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ActionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Action" type="CustomAction" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo source="attr"> [JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="TypeOf" type="xs:string" use="required"/>
			<xs:attribute name="TriggerId" type="xs:int" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="IsFiredOnAdded" type="xs:boolean" use="required"/>
			<xs:attribute name="IsFiredOnDeleted" type="xs:boolean" use="required"/>
			<xs:attribute name="IsFiredOnChanged" type="xs:boolean" use="required"/>
			<xs:attribute name="FiredOnOperations" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Field">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Note" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="AssemblyField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:all>
						<xs:element name="MethodArgCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="MethodArg" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="Location" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="Method" type="xs:string" use="required"/>
					<xs:attribute name="IsAsync" type="xs:boolean" use="required"/>
					<xs:attribute name="AsyncTimeout" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunctionField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="Script" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConstantField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="XPath" type="xs:string" use="optional"/>
					<xs:attribute name="NamespacePrefix" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="Path" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PropertyChangedField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="Path" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="OldValue" type="xs:string" use="required"/>
					<xs:attribute name="NewValue" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="FieldType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DocumentField"/>
			<xs:enumeration value="ConstantField"/>
			<xs:enumeration value="FunctionField"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Rule">
		<xs:complexType>
			<xs:all>
				<xs:element name="Left" type="Field">
					<xs:annotation>
						<xs:appinfo source="attr"> [JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="Right" type="Field">
					<xs:annotation>
						<xs:appinfo source="attr">[JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="Operator" type="Operator">
					<xs:annotation>
						<xs:appinfo source="attr">[JsonConverter(typeof(StringEnumConverter))]</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Operator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Eq"/>
			<xs:enumeration value="Lt"/>
			<xs:enumeration value="Le"/>
			<xs:enumeration value="Gt"/>
			<xs:enumeration value="Ge"/>
			<xs:enumeration value="Substringof"/>
			<xs:enumeration value="StartsWith"/>
			<xs:enumeration value="EndsWith"/>
			<xs:enumeration value="NotContains"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CustomAction">
		<xs:attribute name="Title" type="xs:string" use="required"/>
		<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
		<xs:attribute name="TriggerId" type="xs:int" use="required"/>
		<xs:attribute name="Note" type="xs:string" use="required"/>
		<xs:attribute name="CustomActionId" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:element name="EmailAction">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CustomAction">
					<xs:attribute name="From" type="xs:string" use="required"/>
					<xs:attribute name="To" type="xs:string" use="required"/>
					<xs:attribute name="SubjectTemplate" type="xs:string" use="required"/>
					<xs:attribute name="BodyTemplate" type="xs:string" use="required"/>
					<xs:attribute name="Bcc" type="xs:string" use="required"/>
					<xs:attribute name="Cc" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetterAction">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CustomAction">
					<xs:all>
						<xs:element name="SetterActionChildCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="SetterActionChild" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetterActionChild">
		<xs:complexType>
			<xs:all>
				<xs:element name="Field" type="Field">
					<xs:annotation>
						<xs:appinfo source="attr"> [JsonProperty(TypeNameHandling = TypeNameHandling.All)] </xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:all>
			<xs:attribute name="Path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MethodArg">
		<xs:complexType>
			<xs:all>
				<xs:element name="ValueProvider" type="Field"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TypeName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteEntityAction" type="CustomAction"/>
	<xs:element name="CreateEntityAction" type="CustomAction"/>
	<xs:element name="UpdateEntityAction" type="CustomAction"/>
	<xs:element name="WorkflowInitiatorAction" type="CustomAction"/>
	<xs:element name="AssemblyAction" type="CustomAction"/>
	<xs:element name="WorkflowDefinition">
		<xs:complexType>
			<xs:all>
				<xs:element name="ActivityCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Activity" type="Activity" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VariableDefinitionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Variable" type="Variable" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="WorkflowDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="SchemaStoreId" type="xs:string" use="required"/>
			<xs:attribute name="Version" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Activity">
		<xs:attribute name="IsInitiator" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="Workflow">
		<xs:complexType>
			<xs:all>
				<xs:element name="VariableValueCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="VariableValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="WorkflowId" type="xs:int" use="required"/>
			<xs:attribute name="WorkflowDefinitionId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="State" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="Version" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScreenActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:all>
						<xs:element ref="FormDesign"/>
						<xs:element ref="Performer"/>
					</xs:all>
					<xs:attribute name="Title" type="xs:string" use="required"/>
					<xs:attribute name="ViewVirtualPath" type="xs:string" use="required"/>
					<xs:attribute name="WorkflowDefinitionId" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DecisionActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NotificationActivity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Activity">
					<xs:attribute name="From" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Variable">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="TypeName" type="xs:string" use="required"/>
		<xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="SimpleVariable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Variable"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplexVariable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Variable"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomElementVariable" type="Variable"/>
	<xs:element name="FormDesign">
		<xs:annotation>
			<xs:documentation>Placeholder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VariableValue">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Page">
		<xs:complexType>
			<xs:all>
				<xs:element name="Code" type="xs:string"/>
			</xs:all>
			<xs:attribute name="PageId" type="xs:int" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="IsRazor" type="xs:boolean" use="required"/>
			<xs:attribute name="IsPartial" type="xs:boolean" use="required"/>
			<xs:attribute name="VirtualPath" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Performer">
		<xs:complexType>
			<xs:attribute name="UserProperty" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
