source/domain/domain.commercialspace/Schema/CommercialSpaceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://www.bespoke.com.my/" xmlns:bs="http://www.bespoke.com.my/xsd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bespoke.com.my/" elementFormDefault="qualified" attributeFormDefault="unqualified" id="StationSchema">
	<xs:element name="ContractHistory">
		<xs:complexType>
			<xs:all>
				<xs:element name="DateEnd" type="xs:dateTime" nillable="true"/>
			</xs:all>
			<xs:attribute name="ContractNo" type="xs:string" use="required"/>
			<xs:attribute name="DateFrom" type="xs:dateTime" use="required"/>
			<xs:attribute name="DateStart" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tenant" nillable="false">
		<xs:complexType>
			<xs:all>
				<xs:element name="ContractHistoryCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ContractHistory" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Address" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="TenantId" type="xs:int" use="required"/>
			<xs:attribute name="IdSsmNo" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="BussinessType" type="xs:string" use="required"/>
			<xs:attribute name="Phone" type="xs:string" use="required"/>
			<xs:attribute name="Fax" type="xs:string" use="optional"/>
			<xs:attribute name="MobilePhone" type="xs:string" use="optional"/>
			<xs:attribute name="Email" type="xs:string" use="optional"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Land">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Owner"/>
				<xs:element ref="Address"/>
				<xs:element name="LeaseExpiryDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="LeasePeriod" type="xs:int" nillable="true"/>
				<xs:element name="ApprovedDateTime" type="xs:dateTime" nillable="true"/>
				<xs:element name="ApprovedBy" type="xs:string"/>
			</xs:all>
			<xs:attribute name="Lot" type="xs:string" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Location" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="SizeUnit" type="xs:string" use="required"/>
			<xs:attribute name="CurrentMarketValue" type="xs:decimal" use="required"/>
			<xs:attribute name="RezabNo" type="xs:string"/>
			<xs:attribute name="SheetNo" type="xs:string" use="required"/>
			<xs:attribute name="ApprovedPlanNo" type="xs:string" use="required"/>
			<xs:attribute name="LandOffice" type="xs:string" use="required"/>
			<xs:attribute name="Usage" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="OwnLevel" type="xs:string" use="required"/>
			<xs:attribute name="PlanNo" type="xs:string" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="IsApproved" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Building">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Address"/>
				<xs:element name="FloorCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Floor" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Height" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="BuildingId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="LotNo" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="Floors" type="xs:int" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LatLng">
		<xs:complexType>
			<xs:all>
				<xs:element name="Elevation" type="xs:double" nillable="true"/>
			</xs:all>
			<xs:attribute name="Lat" type="xs:double" use="required"/>
			<xs:attribute name="Lng" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:attribute name="UnitNo" type="xs:string" use="required"/>
			<xs:attribute name="Floor" type="xs:string" use="optional"/>
			<xs:attribute name="Block" type="xs:string" use="optional"/>
			<xs:attribute name="Street" type="xs:string" use="required"/>
			<xs:attribute name="City" type="xs:string" use="required"/>
			<xs:attribute name="Postcode" type="xs:string" use="required"/>
			<xs:attribute name="State" type="xs:string" use="required"/>
			<xs:attribute name="Country" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Floor">
		<xs:complexType>
			<xs:all>
				<xs:element name="LotCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Lot" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="Number" type="xs:int" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lot">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="FloorNo" type="xs:string" use="required"/>
			<xs:attribute name="IsCommercialSpace" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommercialSpace">
		<xs:complexType>
			<xs:all>
				<xs:element name="LotCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Lot" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="CommercialSpaceId" type="xs:int" use="required"/>
			<xs:attribute name="BuildingId" type="xs:int" use="required"/>
			<xs:attribute name="LotName" type="xs:string" use="required"/>
			<xs:attribute name="FloorName" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
			<xs:attribute name="RentalType" type="xs:string" use="required"/>
			<xs:attribute name="IsOnline" type="xs:boolean" use="required"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
			<xs:attribute name="IsAvailable" type="xs:boolean" use="required"/>
			<xs:attribute name="ContactPerson" type="xs:string" use="optional"/>
			<xs:attribute name="ContactNo" type="xs:string" use="optional"/>
			<xs:attribute name="State" type="xs:string" use="required"/>
			<xs:attribute name="City" type="xs:string" use="required"/>
			<xs:attribute name="BuildingName" type="xs:string" use="required"/>
			<xs:attribute name="BuildingLot" type="xs:string" use="required"/>
			<xs:attribute name="RentalRate" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentalApplication">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Address" minOccurs="0"/>
				<xs:element name="BankCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Bank" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Contact" minOccurs="0"/>
				<xs:element name="CurrentYearSales" type="xs:decimal" default="0"/>
				<xs:element name="LastYearSales" type="xs:decimal" default="0"/>
				<xs:element name="PreviousYearSales" type="xs:decimal" default="0"/>
				<xs:element name="AttachmentCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Attachment" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Offer"/>
				<xs:element ref="CommercialSpace" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="RentalApplicationId" type="xs:int" use="required"/>
			<xs:attribute name="CompanyName" type="xs:string" use="required"/>
			<xs:attribute name="CompanyRegistrationNo" type="xs:string" use="required"/>
			<xs:attribute name="DateStart" type="xs:dateTime" use="required"/>
			<xs:attribute name="DateEnd" type="xs:dateTime" use="required"/>
			<xs:attribute name="Purpose" type="xs:string" use="required"/>
			<xs:attribute name="CompanyType" type="xs:string" use="required"/>
			<xs:attribute name="CommercialSpaceId" type="xs:int" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="Experience" type="xs:string" use="required"/>
			<xs:attribute name="IsRecordExist" type="xs:boolean" use="required"/>
			<xs:attribute name="PreviousAddress" type="xs:string" use="required"/>
			<xs:attribute name="IsCompany" type="xs:boolean" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Remarks" type="xs:string" use="optional"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
			<xs:attribute name="ApplicationDate" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Attachment">
		<xs:complexType>
			<xs:all>
				<xs:element name="ReceivedDateTime" type="xs:dateTime" nillable="true"/>
				<xs:element name="ReceivedBy" type="xs:string"/>
				<xs:element name="Note" type="xs:string"/>
			</xs:all>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
			<xs:attribute name="IsReceived" type="xs:boolean" use="required"/>
			<xs:attribute name="StoreId" type="xs:string" use="required"/>
			<xs:attribute name="IsCompleted" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Bank">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Location" type="xs:string" use="required"/>
			<xs:attribute name="AccountNo" type="xs:string" use="required"/>
			<xs:attribute name="AccountType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contact">
		<xs:complexType>
			<xs:attribute name="ContractId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="IcNo" type="xs:string"/>
			<xs:attribute name="Role" type="xs:string" use="required"/>
			<xs:attribute name="MobileNo" type="xs:string" use="required"/>
			<xs:attribute name="OfficeNo" type="xs:string" use="required"/>
			<xs:attribute name="Email" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractTemplate">
		<xs:complexType>
			<xs:all>
				<xs:element name="DocumentTemplateCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DocumentTemplate" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TopicCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Topic" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ContractTemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="InterestRate" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentTemplate">
		<xs:complexType>
			<xs:all/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="StoreId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contract">
		<xs:complexType>
			<xs:all>
				<xs:element name="DocumentCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Document" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Owner"/>
				<xs:element ref="ContractingParty"/>
				<xs:element name="Option" type="xs:int" nillable="true"/>
				<xs:element ref="Tenant"/>
				<xs:element ref="CommercialSpace"/>
				<xs:element name="TopicCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Topic" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ContractId" type="xs:int" use="required"/>
			<xs:attribute name="ReferenceNo" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="Value" type="xs:decimal" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Remarks" type="xs:string" use="required"/>
			<xs:attribute name="Period" type="xs:int" use="required"/>
			<xs:attribute name="PeriodUnit" type="xs:string" use="required"/>
			<xs:attribute name="StartDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="EndDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="RentalApplicationId" type="xs:int" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="RentType" type="xs:string" use="required"/>
			<xs:attribute name="InterestRate" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:all>
				<xs:element name="DocumentVersionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DocumentVersion" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Extension" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentVersion">
		<xs:complexType>
			<xs:attribute name="StoreId" type="xs:string" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="CommitedBy" type="xs:string" use="required"/>
			<xs:attribute name="No" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Owner">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Address" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TelephoneNo" type="xs:string" use="required"/>
			<xs:attribute name="FaxNo" type="xs:string" use="required"/>
			<xs:attribute name="Email" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuditTrail">
		<xs:complexType>
			<xs:all>
				<xs:element name="ChangeCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Change" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="User" type="xs:string" use="required"/>
			<xs:attribute name="DateTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="Operation" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="EntityId" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Change">
		<xs:complexType>
			<xs:attribute name="PropertyName" type="xs:string" use="required"/>
			<xs:attribute name="OldValue" type="xs:string" use="required"/>
			<xs:attribute name="NewValue" type="xs:string" use="required"/>
			<xs:attribute name="Action" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Organization">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Address"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
			<xs:attribute name="Email" type="xs:string" use="required"/>
			<xs:attribute name="OfficeNo" type="xs:string" use="required"/>
			<xs:attribute name="FaxNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Offer">
		<xs:complexType>
			<xs:all>
				<xs:element name="OfferConditionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="OfferCondition" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessPlanText" type="xs:string"/>
			</xs:all>
			<xs:attribute name="BusinessPlan" type="xs:string" use="required"/>
			<xs:attribute name="CommercialSpaceId" type="xs:int" use="required"/>
			<xs:attribute name="Size" type="xs:int" use="required"/>
			<xs:attribute name="Building" type="xs:string" use="required"/>
			<xs:attribute name="Floor" type="xs:string" use="required"/>
			<xs:attribute name="Deposit" type="xs:decimal" use="required"/>
			<xs:attribute name="Rent" type="xs:decimal" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="ExpiryDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="Period" type="xs:int" use="required"/>
			<xs:attribute name="PeriodUnit" type="xs:string" use="required"/>
			<xs:attribute name="Option" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OfferCondition">
		<xs:complexType>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Topic">
		<xs:complexType>
			<xs:all>
				<xs:element name="ClauseCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Clause" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Clause">
		<xs:complexType>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="No" type="xs:string" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractingParty">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Contact"/>
				<xs:element ref="Address" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositPayment">
		<xs:complexType>
			<xs:attribute name="DepositPaymentId" type="xs:int" use="required"/>
			<xs:attribute name="ReceiptNo" type="xs:string" use="optional"/>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Payment">
		<xs:complexType>
			<xs:attribute name="PaymentId" type="xs:int" use="required"/>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="Date" type="xs:string" use="required"/>
			<xs:attribute name="ContractNo" type="xs:string" use="required"/>
			<xs:attribute name="TenantIdSsmNo" type="xs:string" use="required"/>
			<xs:attribute name="ReceiptNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="InvoiceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AdhocInvoice"/>
			<xs:enumeration value="Rental"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="UserProfile">
		<xs:complexType>
			<xs:attribute name="Username" type="xs:string" use="required"/>
			<xs:attribute name="FullName" type="xs:string" use="required"/>
			<xs:attribute name="Designation" type="xs:string" use="required"/>
			<xs:attribute name="Telephone" type="xs:string" use="required"/>
			<xs:attribute name="Mobile" type="xs:string" use="required"/>
			<xs:attribute name="RoleTypes" type="xs:string" use="required"/>
			<xs:attribute name="StartModule" type="xs:string" use="required"/>
			<xs:attribute name="Email" type="xs:string" use="required"/>
			<xs:attribute name="UserProfileId" type="xs:int" use="required"/>
			<xs:attribute name="Department" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Deposit">
		<xs:complexType>
			<xs:all>
				<xs:element name="PaymentDateTime" type="xs:dateTime" nillable="true"/>
				<xs:element name="RefundDateTime" type="xs:dateTime" nillable="true"/>
				<xs:element name="DueDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="DepositPaymentCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DepositPayment" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="DepositId" type="xs:int" use="required"/>
			<xs:attribute name="DateTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IDNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RegistrationNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="IsPaid" type="xs:boolean" use="required"/>
			<xs:attribute name="IsRefund" type="xs:boolean" use="required"/>
			<xs:attribute name="ReceiptNo" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RefundedBy" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IsVoid" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reply">
		<xs:complexType>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Setting">
		<xs:complexType>
			<xs:all>
				<xs:element name="Key" type="xs:string"/>
				<xs:element name="Value" type="xs:string"/>
			</xs:all>
			<xs:attribute name="SettingId" type="xs:int" use="required"/>
			<xs:attribute name="Username" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rebate">
		<xs:complexType>
			<xs:attribute name="RebateId" type="xs:int" use="required"/>
			<xs:attribute name="ContractNo" type="xs:string" use="required"/>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="StartDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="EndDate" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Interest">
		<xs:complexType>
			<xs:attribute name="Building" type="xs:string" use="required"/>
			<xs:attribute name="CommercialSpaceCategory" type="xs:string" use="required"/>
			<xs:attribute name="Percentage" type="xs:decimal" use="required"/>
			<xs:attribute name="Period" type="xs:int" use="required"/>
			<xs:attribute name="PeriodType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Invoice">
		<xs:attribute name="InvoiceId" type="xs:int" use="required"/>
		<xs:attribute name="Date" type="xs:dateTime" use="required"/>
		<xs:attribute name="Amount" type="xs:decimal" use="required"/>
		<xs:attribute name="No" type="xs:string" use="required"/>
		<xs:attribute name="Type" type="InvoiceType" use="required"/>
		<xs:attribute name="ContractNo" type="xs:string" use="required"/>
		<xs:attribute name="TenantIdSsmNo" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Rent">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Invoice">
					<xs:all>
						<xs:element name="Month" type="xs:int" nillable="true"/>
						<xs:element name="Quarter" type="xs:int" nillable="true"/>
						<xs:element ref="Tenant"/>
					</xs:all>
					<xs:attribute name="Half" type="xs:string" use="optional"/>
					<xs:attribute name="Year" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdhocInvoice">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Invoice">
					<xs:all>
						<xs:element name="InvoiceItemCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="InvoiceItem" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SentDate" type="xs:dateTime" nillable="true"/>
						<xs:element ref="Tenant"/>
						<xs:element name="Type2" type="InvoiceType"/>
						<xs:element name="Note2" type="xs:string"/>
						<xs:element ref="Address"/>
						<xs:element name="DocumentCollection">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Document" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="Category" type="xs:string" use="required"/>
					<xs:attribute name="F2" type="xs:int" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceItem">
		<xs:complexType>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="State">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Complaint">
		<xs:complexType>
			<xs:all>
				<xs:element name="CustomFieldValueCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomFieldValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Tenant" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="ComplaintId" type="xs:int" use="required"/>
			<xs:attribute name="TemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Remarks" type="xs:string" use="required"/>
			<xs:attribute name="TenantId" type="xs:int" use="required"/>
			<xs:attribute name="CommercialSpace" type="xs:string" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
			<xs:attribute name="SubCategory" type="xs:string" use="required"/>
			<xs:attribute name="ReferenceNo" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="AttachmentStoreId" type="xs:string" use="required"/>
			<xs:attribute name="Department" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomField">
		<xs:complexType>
			<xs:attribute name="Order" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="IsMandatory" type="xs:boolean" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomFieldValue">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplaintTemplate">
		<xs:complexType>
			<xs:all>
				<xs:element name="ComplaintCategoryCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ComplaintCategory" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ComplaintCustomFieldCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ComplaintCustomField" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ComplaintTemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplaintCategory">
		<xs:complexType>
			<xs:all>
				<xs:element name="SubCategoryCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="subCategory" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplaintCustomField">
		<xs:complexType>
			<xs:attribute name="Order" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="IsMandatory" type="xs:boolean" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:int" use="required"/>
			<xs:attribute name="Listing" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Inspection">
		<xs:complexType>
			<xs:attribute name="PersonInCharge" type="xs:string" use="required"/>
			<xs:attribute name="AssignedDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="Remark" type="xs:string" use="required"/>
			<xs:attribute name="InspectionDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="Resolution" type="xs:string" use="required"/>
			<xs:attribute name="Observation" type="xs:string" use="required"/>
			<xs:attribute name="Contractor" type="xs:string" use="required"/>
			<xs:attribute name="Priority" type="xs:string" use="required"/>
			<xs:attribute name="Severity" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Maintenance">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Complaint" minOccurs="0"/>
				<xs:element name="StartDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="EndDate" type="xs:dateTime" nillable="true"/>
				<xs:element ref="WorkOrder" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="MaintenanceId" type="xs:int" use="required"/>
			<xs:attribute name="ComplaintId" type="xs:int" use="required"/>
			<xs:attribute name="WorkOrderNo" type="xs:string" use="required"/>
			<xs:attribute name="Department" type="xs:string" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="Resolution" type="xs:string" use="required"/>
			<xs:attribute name="Officer" type="xs:string" use="required"/>
			<xs:attribute name="AttachmentStoreId" type="xs:string" use="required"/>
			<xs:attribute name="AttachmentName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Designation">
		<xs:complexType>
			<xs:all>
				<xs:element name="RoleCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Role" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="DesignationId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="IsActive" type="xs:boolean" use="required"/>
			<xs:attribute name="StartModule" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkOrder">
		<xs:complexType>
			<xs:all>
				<xs:element name="CommentCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Comment" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PartsAndLaborCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PartsAndLabor" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="WarrantyCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Warranty" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NonComplianceCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="NonCompliance" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Priority" type="xs:string" use="required"/>
			<xs:attribute name="Severity" type="xs:string" use="required"/>
			<xs:attribute name="EstimationCost" type="xs:decimal" use="required"/>
			<xs:attribute name="WorkOrderId" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Comment">
		<xs:complexType>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="User" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartsAndLabor">
		<xs:complexType>
			<xs:attribute name="Quantity" type="xs:int" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Cost" type="xs:decimal" use="required"/>
			<xs:attribute name="Total" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Warranty">
		<xs:complexType>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="YearWarranty" type="xs:string" use="required"/>
			<xs:attribute name="StartDate" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NonCompliance">
		<xs:complexType>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="Reason" type="xs:string" use="required"/>
			<xs:attribute name="Action" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Inventory">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
			<xs:attribute name="Brand" type="xs:string" use="required"/>
			<xs:attribute name="Specification" type="xs:string" use="required"/>
			<xs:attribute name="Quantity" type="xs:int" use="required"/>
			<xs:attribute name="InventoryId" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Trigger">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Entity" type="xs:string" use="required"/>
			<xs:attribute name="TypeOf" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunctionField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="Script" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConstantField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Field">
					<xs:attribute name="XPath" type="xs:string" use="optional"/>
					<xs:attribute name="NamespacePrefix" type="xs:string" use="required"/>
					<xs:attribute name="TypeName" type="xs:string" use="required"/>
					<xs:attribute name="Path" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Field">
		<xs:attribute name="Name" type="xs:int" use="required"/>
		<xs:attribute name="Note" type="xs:dateTime" use="required"/>
	</xs:complexType>
	<xs:simpleType name="FieldType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DocumentField"/>
			<xs:enumeration value="ConstantField"/>
			<xs:enumeration value="FunctionField"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Rule">
		<xs:complexType>
			<xs:all>
				<xs:element name="Left" type="Field"/>
				<xs:element name="Right" type="Field"/>
				<xs:element name="Operator" type="Operator"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Operator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Eq"/>
			<xs:enumeration value="Lt"/>
			<xs:enumeration value="Le"/>
			<xs:enumeration value="Gt"/>
			<xs:enumeration value="Ge"/>
			<xs:enumeration value="Substringof"/>
			<xs:enumeration value="StartsWith"/>
			<xs:enumeration value="EndsWith"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
