source/domain/domain.commercialspace/Schema/CommercialSpaceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<xs:schema xmlns="http://www.bespoke.com.my/" xmlns:bs="http://www.bespoke.com.my/xsd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bespoke.com.my/" elementFormDefault="qualified" attributeFormDefault="unqualified" id="StationSchema">
	<xs:element name="ContractHistory">
		<xs:complexType>
			<xs:attribute name="ContractNo" type="xs:string" use="required"/>
			<xs:attribute name="DateFrom" type="xs:dateTime" use="required"/>
			<xs:attribute name="TenantName" type="xs:string"/>
			<xs:attribute name="DateEnd" type="xs:dateTime"/>
			<xs:attribute name="DateStart" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tenant" nillable="false">
		<xs:complexType>
			<xs:all>
				<xs:element name="ContractHistoryCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ContractHistory" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Address" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="TenantId" type="xs:int" use="required"/>
			<xs:attribute name="IdSsmNo" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="BussinessType" type="xs:string" use="required"/>
			<xs:attribute name="PhoneNo" type="xs:string" use="required"/>
			<xs:attribute name="FaksNo" type="xs:string" use="optional"/>
			<xs:attribute name="MobilePhoneNo" type="xs:string" use="optional"/>
			<xs:attribute name="Email" type="xs:string" use="optional"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rent">
		<xs:complexType>
			<xs:all>
				<xs:element name="Month" type="xs:int" nillable="true"/>
				<xs:element name="Year" type="xs:int" nillable="true"/>
				<xs:element ref="Tenant"/>
			</xs:all>
			<xs:attribute name="Half" type="xs:string" use="required"/>
			<xs:attribute name="Quarter" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Land">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Owner"/>
				<xs:element ref="Address"/>
				<xs:element name="LeaseExpiryDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="LeasePeriod" type="xs:int" nillable="true"/>
				<xs:element name="ApprovedDateTime" type="xs:dateTime" nillable="true"/>
				<xs:element name="ApprovedBy" type="xs:string"/>
			</xs:all>
			<xs:attribute name="Lot" type="xs:string" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Location" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="SizeUnit" type="xs:string" use="required"/>
			<xs:attribute name="CurrentMarketValue" type="xs:decimal" use="required"/>
			<xs:attribute name="RezabNo" type="xs:string"/>
			<xs:attribute name="SheetNo" type="xs:string" use="required"/>
			<xs:attribute name="ApprovedPlanNo" type="xs:string" use="required"/>
			<xs:attribute name="LandOffice" type="xs:string" use="required"/>
			<xs:attribute name="Usage" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="OwnLevel" type="xs:string" use="required"/>
			<xs:attribute name="PlanNo" type="xs:string" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="IsApproved" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Building">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Address"/>
				<xs:element name="FloorCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Floor" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Height" type="xs:int" nillable="true"/>
			</xs:all>
			<xs:attribute name="BuildingId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="LotNo" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="Floors" type="xs:int" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LatLng">
		<xs:complexType>
			<xs:all>
				<xs:element name="Elevation" type="xs:double" nillable="true"/>
			</xs:all>
			<xs:attribute name="Lat" type="xs:double" use="required"/>
			<xs:attribute name="Lng" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:attribute name="UnitNo" type="xs:string" use="required"/>
			<xs:attribute name="Floor" type="xs:string" use="optional"/>
			<xs:attribute name="Block" type="xs:string" use="optional"/>
			<xs:attribute name="Street" type="xs:string" use="required"/>
			<xs:attribute name="City" type="xs:string" use="required"/>
			<xs:attribute name="Postcode" type="xs:string" use="required"/>
			<xs:attribute name="State" type="xs:string" use="required"/>
			<xs:attribute name="Country" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Floor">
		<xs:complexType>
			<xs:all>
				<xs:element name="LotCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Lot" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="Number" type="xs:int" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lot">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="FloorNo" type="xs:string" use="required"/>
			<xs:attribute name="IsCommercialSpace" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommercialSpace">
		<xs:complexType>
			<xs:all>
				<xs:element name="LotCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Lot" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="CommercialSpaceId" type="xs:int" use="required"/>
			<xs:attribute name="BuildingId" type="xs:int" use="required"/>
			<xs:attribute name="LotName" type="xs:string" use="required"/>
			<xs:attribute name="FloorName" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:double" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
			<xs:attribute name="RentalType" type="xs:string" use="required"/>
			<xs:attribute name="IsOnline" type="xs:boolean" use="required"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
			<xs:attribute name="Status" type="xs:boolean" use="required"/>
			<xs:attribute name="ContactPerson" type="xs:string" use="optional"/>
			<xs:attribute name="ContactNo" type="xs:string" use="optional"/>
			<xs:attribute name="State" type="xs:string" use="required"/>
			<xs:attribute name="City" type="xs:string" use="required"/>
			<xs:attribute name="BuildingName" type="xs:string" use="required"/>
			<xs:attribute name="BuildingLot" type="xs:string" use="required"/>
			<xs:attribute name="RentalRate" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentalApplication">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Address" minOccurs="0"/>
				<xs:element name="BankCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Bank" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Contact" minOccurs="0"/>
				<xs:element name="CurrentYearSales" type="xs:decimal" default="0"/>
				<xs:element name="LastYearSales" type="xs:decimal" default="0"/>
				<xs:element name="PreviousYearSales" type="xs:decimal" default="0"/>
				<xs:element name="AttachmentCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Attachment" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Offer"/>
			</xs:all>
			<xs:attribute name="RentalApplicationId" type="xs:int" use="required"/>
			<xs:attribute name="CompanyName" type="xs:string" use="required"/>
			<xs:attribute name="CompanyRegistrationNo" type="xs:string" use="required"/>
			<xs:attribute name="DateStart" type="xs:dateTime" use="required"/>
			<xs:attribute name="DateEnd" type="xs:dateTime" use="required"/>
			<xs:attribute name="Purpose" type="xs:string" use="required"/>
			<xs:attribute name="CompanyType" type="xs:string" use="required"/>
			<xs:attribute name="CommercialSpaceId" type="xs:int" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="Experience" type="xs:string" use="required"/>
			<xs:attribute name="IsRecordExist" type="xs:boolean" use="required"/>
			<xs:attribute name="PreviousAddress" type="xs:string" use="required"/>
			<xs:attribute name="IsCompany" type="xs:boolean" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Remarks" type="xs:string" use="optional"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
			<xs:attribute name="ApplicationDate" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Attachment">
		<xs:complexType>
			<xs:all>
				<xs:element name="ReceivedDateTime" type="xs:dateTime" nillable="true"/>
				<xs:element name="ReceivedBy" type="xs:string"/>
				<xs:element name="Note" type="xs:string"/>
			</xs:all>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
			<xs:attribute name="IsReceived" type="xs:boolean" use="required"/>
			<xs:attribute name="StoreId" type="xs:string" use="required"/>
			<xs:attribute name="IsCompleted" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Bank">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Location" type="xs:string" use="required"/>
			<xs:attribute name="AccountNo" type="xs:string" use="required"/>
			<xs:attribute name="AccountType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contact">
		<xs:complexType>
			<xs:attribute name="ContractId" type="xs:int" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="IcNo" type="xs:string" use="required"/>
			<xs:attribute name="Role" type="xs:string" use="required"/>
			<xs:attribute name="MobileNo" type="xs:string" use="required"/>
			<xs:attribute name="OfficeNo" type="xs:string" use="required"/>
			<xs:attribute name="Email" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractTemplate">
		<xs:complexType>
			<xs:all>
				<xs:element name="DocumentTemplateCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DocumentTemplate" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TopicCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Topic" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ContractTemplateId" type="xs:int" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentTemplate">
		<xs:complexType>
			<xs:all/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="StoreId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contract">
		<xs:complexType>
			<xs:all>
				<xs:element name="DocumentCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Document" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Owner"/>
				<xs:element ref="ContractingParty"/>
				<xs:element name="Option" type="xs:int" nillable="true"/>
				<xs:element ref="Tenant"/>
				<xs:element ref="CommercialSpace"/>
				<xs:element name="TopicCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Topic" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ContractId" type="xs:int" use="required"/>
			<xs:attribute name="ReferenceNo" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="Value" type="xs:decimal" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Remarks" type="xs:string" use="required"/>
			<xs:attribute name="Period" type="xs:int" use="required"/>
			<xs:attribute name="PeriodUnit" type="xs:string" use="required"/>
			<xs:attribute name="StartDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="EndDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="RentalApplicationId" type="xs:int" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="RentType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:all>
				<xs:element name="DocumentVersionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DocumentVersion" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Extension" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentVersion">
		<xs:complexType>
			<xs:attribute name="StoreId" type="xs:string" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="CommitedBy" type="xs:string" use="required"/>
			<xs:attribute name="No" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Owner">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Address" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="TelephoneNo" type="xs:string" use="required"/>
			<xs:attribute name="FaxNo" type="xs:string" use="required"/>
			<xs:attribute name="Email" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuditTrail">
		<xs:complexType>
			<xs:all>
				<xs:element name="ChangeCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Change" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="User" type="xs:string" use="required"/>
			<xs:attribute name="DateTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="Operation" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="EntityId" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Change">
		<xs:complexType>
			<xs:attribute name="PropertyName" type="xs:string" use="required"/>
			<xs:attribute name="OldValue" type="xs:string" use="required"/>
			<xs:attribute name="NewValue" type="xs:string" use="required"/>
			<xs:attribute name="Action" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Organization">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Address"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Offer">
		<xs:complexType>
			<xs:all>
				<xs:element name="OfferConditionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="OfferCondition" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessPlanText" type="xs:string"/>
			</xs:all>
			<xs:attribute name="BusinessPlan" type="xs:string" use="required"/>
			<xs:attribute name="CommercialSpaceId" type="xs:int" use="required"/>
			<xs:attribute name="Size" type="xs:int" use="required"/>
			<xs:attribute name="Building" type="xs:string" use="required"/>
			<xs:attribute name="Floor" type="xs:string" use="required"/>
			<xs:attribute name="Deposit" type="xs:decimal" use="required"/>
			<xs:attribute name="Rent" type="xs:decimal" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="ExpiryDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="Period" type="xs:int" use="required"/>
			<xs:attribute name="PeriodUnit" type="xs:string" use="required"/>
			<xs:attribute name="Option" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OfferCondition">
		<xs:complexType>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
			<xs:attribute name="IsRequired" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Topic">
		<xs:complexType>
			<xs:all>
				<xs:element name="ClauseCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Clause" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Clause">
		<xs:complexType>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Description" type="xs:string" use="required"/>
			<xs:attribute name="No" type="xs:string" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractingParty">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Contact"/>
				<xs:element ref="Address" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="RegistrationNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositPayment">
		<xs:complexType>
			<xs:attribute name="ReceiptNo" type="xs:string" use="required"/>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Payment">
		<xs:complexType>
			<xs:attribute name="PaymentId" type="xs:int" use="required"/>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="Date" type="xs:string" use="required"/>
			<xs:attribute name="ContractNo" type="xs:string" use="required"/>
			<xs:attribute name="TenantIdSsmNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Invoice">
		<xs:complexType>
			<xs:attribute name="InvoiceId" type="xs:int" use="required"/>
			<xs:attribute name="Date" type="xs:dateTime" use="required"/>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="No" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="InvoiceType" use="required"/>
			<xs:attribute name="ContractNo" type="xs:string" use="required"/>
			<xs:attribute name="TenantIdSsmNo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="InvoiceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AdhocInvoice"/>
			<xs:enumeration value="Rental"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="User">
		<xs:complexType>
			<xs:attribute name="UserId" type="xs:int" use="required"/>
			<xs:attribute name="OrganizationId" type="xs:int" use="required"/>
			<xs:attribute name="UserName" type="xs:string" use="required"/>
			<xs:attribute name="Email" type="xs:string" use="required"/>
			<xs:attribute name="FullName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Deposit">
		<xs:complexType>
			<xs:all>
				<xs:element name="PaymentDateTime" type="xs:dateTime" nillable="true"/>
				<xs:element name="RefundDateTime" type="xs:dateTime" nillable="true"/>
				<xs:element name="DueDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="DepositPaymentCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DepositPayment" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="DepositId" type="xs:int" use="required"/>
			<xs:attribute name="DateTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IDNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RegistrationNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="IsPaid" type="xs:boolean" use="required"/>
			<xs:attribute name="IsRefund" type="xs:boolean" use="required"/>
			<xs:attribute name="ReceiptNo" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RefundedBy" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IsVoid" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Role">
		<xs:complexType>
			<xs:all>
				<xs:element name="PermissionCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Permission" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="RoleId" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Permission">
		<xs:complexType>
			<xs:attribute name="IsAuthorized" type="xs:boolean" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Complaint">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Contact"/>
				<xs:element ref="Address"/>
				<xs:element name="ReplyCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Reply" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="ComplaintId" type="xs:string" use="required"/>
			<xs:attribute name="No" type="xs:string" use="required"/>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reply">
		<xs:complexType>
			<xs:attribute name="Title" type="xs:string" use="required"/>
			<xs:attribute name="Text" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Setting">
		<xs:complexType>
			<xs:all>
				<xs:element name="Key" type="xs:string"/>
				<xs:element name="Value" type="xs:string"/>
			</xs:all>
			<xs:attribute name="SettingId" type="xs:int" use="required"/>
			<xs:attribute name="Username" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rebate">
		<xs:complexType>
			<xs:attribute name="Building" type="xs:string" use="required"/>
			<xs:attribute name="Floor" type="xs:string" use="required"/>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="StartDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="EndDate" type="xs:dateTime" use="required"/>
			<xs:attribute name="CommercialSpaceCategory" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Interest">
		<xs:complexType>
			<xs:attribute name="Building" type="xs:string" use="required"/>
			<xs:attribute name="CommercialSpaceCategory" type="xs:string" use="required"/>
			<xs:attribute name="Percentage" type="xs:decimal" use="required"/>
			<xs:attribute name="Period" type="xs:int" use="required"/>
			<xs:attribute name="PeriodType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdhocInvoice">
		<xs:complexType>
			<xs:all>
				<xs:element name="InvoiceItemCollection">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="InvoiceItem" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Category" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceItem">
		<xs:complexType>
			<xs:attribute name="Amount" type="xs:decimal" use="required"/>
			<xs:attribute name="Category" type="xs:string" use="required"/>
			<xs:attribute name="Note" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
